openapi: 3.1.0
info:
  title: Konnect API - Go SDK
  version: 3.0.29
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: https://konghq.com
    email: support@konghq.com
  x-extensions-note: >
    This API uses the `x-expression` vendor extension to indicate that a string
    property is a DSL expression.

    Supported types:



      - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`
      - `string`: A template string expression that evaluates to a string or a literal string value. For example,
        `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`

    Additionally, `x-sensitive` flag indicates that a field contains sensitive
    information. When the value

    of the field is provided in plain text, it's encrypted at rest and it's
    never returned in API responses.

    When the value is an expression, the expression itself is stored and
    returned in API responses.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://global.api.konghq.com
  - url: https://us.api.konghq.com
  - url: https://eu.api.konghq.com
  - url: https://au.api.konghq.com
security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
  - konnectAccessToken: []
  - serviceAccessToken: []
tags:
  - name: Control Planes
  - name: Control Plane Groups
  - name: Auth Settings
  - name: Invites
  - name: Roles
  - name: Team Membership
  - name: Teams
  - name: Users
  - name: System Accounts
  - name: System Accounts - Access Tokens
  - name: System Accounts - Roles
  - name: System Accounts - Team Membership
  - name: Me
  - name: Authentication
  - name: Impersonation Settings
  - name: Personal Access Tokens
  - name: Data-Plane Group Configurations
  - name: Networks
  - name: Transit Gateways
  - name: Private DNS
  - name: Provider Accounts
  - name: Custom Domains
  - name: Cloud Gateways Resource Quotas
  - name: Resource Configurations
  - name: Resource Availability
  - name: Notifications
    description: Operations related to notifications
  - name: DCR Providers
    description: >
      Dynamic Client Registration Providers are configurations representing an
      external Identity Provider whose clients (i.e. Applications) Konnect will
      be authorized to manage.

      For instance, they will be able to perform dynamic client registration
      (DCR) with the provider. 

      The DCR provider provides credentials to each DCR-enabled application in
      Konnect that can be used to access Product Versions that the app is
      registered for.
  - name: App Auth Strategies
    description: >
      Application Auth Strategies are sets of plugin configurations that
      represent how the gateway will perform authentication and authorization
      for a Product Version. 

      Called “Auth Strategy” for short in the context of portals/applications. 

      The plugins are synced to any Gateway Service that is currently linked or
      becomes linked to the Product Version.
  - name: API
  - name: API Documentation
  - name: API Specification
  - name: API Publication
  - name: API Implementation
  - name: API Attributes
  - name: Portals
    description: APIs related to configuration of Konnect Developer Portals.
  - name: Portal Custom Domains
    description: APIs related to configuration of Konnect Developer Portals custom domains.
  - name: Portal Customization
    description: APIs related to customization of Konnect Developer Portals.
  - name: Portal Auth Settings
    description: APIs related to configuration of Konnect Developer Portal auth settings.
  - name: Portal Developers
    description: APIs related to Konnect Developer Portal developers.
  - name: Portal Teams
    description: APIs related to configuration of Konnect Developer Portal developer teams.
  - name: Portal Team Membership
    description: APIs related to Konnect Developer Portal developer team membership.
  - name: Portal Team Roles
    description: APIs related to Konnect Developer Portal developer team roles.
  - name: Assets
    description: APIs for managing static assets for Konnect Developer Portals.
  - name: Pages
    description: APIs related to Konnect Developer Portal Custom Pages.
  - name: Snippets
    description: APIs related to Konnect Developer Portal Custom Snippets.
  - name: Applications
    description: APIs related to Konnect Developer Portal Applications.
  - name: Application Registrations
    description: APIs related to Konnect Developer Portal Application Registrations.
  - name: Portal Emails
    description: APIs related to Konnect Developer Portal Emails.
  - name: Catalog Services
    description: >
      Create and maintain a centralized catalog of all services running in your
      organization.

      Add custom fields and map resources from across your organization to
      provide a 360-degree overview of your services.


      Custom fields allow you to surface key information such as:

      - `Owner`: The person or team responsible for the service

      - `Product Manager`: The person assigned to guide the service's direction
      for customer success

      - `Jira Project`: The Jira project which represents past, present and
      future work for the service


      Resources are discovered from the integrations you use within your
      organization to create, operate and manage your services.

      Mapping the resources relevant to your service will provide a rich view of
      the service's communication channels, dependencies and more.

      Types of resources which you can map to a service include:

      - `Code Repositories:` The software project(s) that make up the service

      - `Monitors and Dashboards:` Tools providing visibility into the health
      and performance of the service

      - `Communication Channels`: Virtual spaces where questions and concerns
      can be raised about the service

      - `Incident Management Resources`: Alerts setup within your incident
      management platform to notify individuals regarding issues with the
      service
  - name: Catalog Integrations
    description: >
      Integrations are applications, either Konnect-internal or external, which
      extend the functionality of the Service Catalog.

      Install and authorize an integration to discover the resources across your
      organization which support your services.

      Map relevant resources to your services to provide a rich view of
      cataloged services.

      To set up and view a list of all the integrations we support please view
      our
      [documentation](https://developer.konghq.com/service-catalog/integrations/).
  - name: Integration Instances
    description: >
      An integration instance represents a specific account of the integration
      which contains the resources used to manage and support your services.

      Some integrations provide configuration options to customize how it should
      behave once authorized (see the integration's manifest for details).

      Konnect-internal integrations are built-in and do not need to be
      installed.


      Once an integration instance is created, authorize the instance to allow
      the Service Catalog to discover its resources.

      Note that deleting an integration instance is a **destructive** operation.

      When an integration instance is deleted, all its resources and mappings
      will be deleted from the service catalog.

      In cases where the integration instance's credentials need to be updated,
      you may re-authorize the instance to retain all currently discovered
      resources and mappings.

      To set up and view a list of all the integrations we support, please view
      our
      [documentation](https://developer.konghq.com/service-catalog/integrations/).
  - name: Integration Instance Auth Credentials
    description: >
      Represents the credentials use to authorize an integration instance.

      You will want to configure the integration instance settings and
      authorization configuration before authorizing the instance.

      This will inform the authorization process on how to reach and authorize
      the account.

      Once the integration instance is authorized, the system will automatically
      discover all the relevant resources from the account.

      The integration instance's auth credentials can be removed or updated
      while retaining all resources which have already been discovered.
  - name: Integration Instance Auth Config
    description: >
      A integration instance may need to be provided with an auth config before
      authorizing the instance.

      Typically an auth config will be required when authorizing against a
      integration which is hosted within your organization.

      The integration instance's auth config will inform how the Service Catalog
      will authorize the integration instance.

      Note that updating the auth config for an instance which is already
      authorized will **remove the existing credential**, requiring you to
      re-authorize the instance.
  - name: Catalog Resources
    description: >
      Resources are entities discovered from integration instances and are
      intended to be mapped to the relevant services in the catalog.

      Once a resource has been mapped to a service, a rich view of this resource
      will be displayed when viewing your service.


      Any resources which you would like to ignore and hide can be archived.

      Note that archiving a resource will **remove** any mappings it has to
      services in the catalog.


      You can create Resources using only the properties required to identify
      the resource in the third-party system.

      Additional data will be hydrated if the integration that the Resource is
      linked to has been provided with authentication credentials.

      Resources which have not yet been hydrated may still be mapped to a
      Catalog Service.
  - name: Catalog Resource Mappings
    description: >
      Resource mappings represent the link between a resource and a service.

      Once a resource is mapped to a service, a rich view of the resource will
      be presented on the service page.

      A resource may be mapped to multiple services, but it cannot be mapped to
      the same service twice.

      If a resource mapped to a service is later archived, the resource mapping
      will be deleted.
  - name: Catalog Service Resources
    description: |
      Represents all the resources mapped to a specific service.
  - name: Catalog Resource Services
    description: |
      Represents all the services mapped to a specific resource.
  - name: Event Gateways
    description: >
      Create an Event Gateway Control Plane, used to store Event Gateway
      configuration
  - name: Event Gateway Backend Clusters
    description: >
      A backend cluster is an abstraction of a real Kafka cluster. It stores the
      connection and configuration details required for Kong Event Gateway to
      proxy traffic to Kafka.


      Multiple Kafka clusters can be proxied through a single Kong Event
      Gateway.
  - name: Event Gateway Virtual Clusters
    description: >
      Virtual clusters are the primary way clients interact with the Event
      Gateway proxy. They allow you to isolate clients from each other when
      connecting to the same backend cluster, and provide each client with
      modified view while still appearing as a standard Kafka cluster.
  - name: Event Gateway Listeners
    description: >
      A listener represents hostname-port or IP-port combinations that connect
      to TCP sockets. Listeners need at least as many ports as backend brokers
      if you use port mapping in a Forward to Virtual Cluster policy. For SNI
      routing, you can route all brokers using a listener with only one port.
      Ports can be expressed as a single port or range. Addresses can be IPv4,
      IPv6, or hostnames.


      A listener can have policies that enforce TLS certificates and perform SNI
      routing. The listener runs at Layer 4 of the network stack. In Kong Event
      Gateway, listeners first take in the connection and then route the TCP
      connection to a virtual cluster based on conditions defined in listener
      policies.
  - name: Event Gateway Listener Policies
    description: >
      Policies control how Kafka protocol traffic is modified between the client
      and the backend cluster.


      Listener policies are routing policies that pass traffic to the virtual
      cluster.
  - name: Event Gateway Virtual Cluster Policies
    description: >
      Policies control how Kafka protocol traffic is modified between the client
      and the backend cluster.


      Cluster policies are transformation and validation policies that can be
      applied to Kafka messages.
  - name: Event Gateway Virtual Cluster Produce Policies
    description: >
      Produce policies operate on Kafka messages before they are written to the
      Kafka cluster.


      Where possible, apply transformations to the data using produce policies
      rather than consume policies for maximum efficiency.
  - name: Event Gateway Virtual Cluster Consume Policies
    description: >
      Consume policies operate on Kafka messages as they are read from a Kafka
      cluster.


      Transformations may be applied at consume time, but they are applied once
      per Consumer. Where possible, transofmrations should be applied as a
      Produce policy
  - name: Event Gateway DataPlane Certificates
    description: >
      DataPlane certificates control how your running Event Gateway instances
      connect to the Control Plane
  - name: Event Gateway Static Keys
    description: >
      Static Keys are used by the Encrypt and Decrypt policies to encrypt data
      at rest
  - name: Event Gateway Schema Registries
    description: >
      Configure a schema registry that can be used to validate payloads when
      producing/consuming messages
  - name: Event Gateway Nodes
  - description: DP Nodes
    name: DP Nodes
  - description: DP Certificates
    name: DP Certificates
  - description: Custom Plugin Schemas
    name: Custom Plugin Schemas
  - description: Config Stores
    name: Config Stores
  - description: Config Store Secrets
    name: Config Store Secrets
  - name: ACLs
  - name: API-keys
  - name: Basic-auth credentials
  - description: >-
      A CA certificate object represents a trusted certificate authority.

      These objects are used by Kong Gateway to verify the validity of a client
      or server certificate.
    name: CA Certificates
  - description: >
      A certificate object represents a public certificate, and can be
      optionally paired with the corresponding private key. These objects are
      used by Kong Gateway to handle SSL/TLS termination for encrypted requests,
      or for use as a trusted CA store when validating peer certificate of
      client/service.

      <br><br>

      Certificates are optionally associated with SNI objects to tie a cert/key
      pair to one or more hostnames.

      <br><br>

      If intermediate certificates are required in addition to the main
      certificate, they should be concatenated together into one string.
    name: Certificates
  - description: >-
      Consumer groups enable the organization and categorization of consumers
      (users or applications) within an API ecosystem.

      By grouping consumers together, you eliminate the need to manage them
      individually, providing a scalable, efficient approach to managing
      configurations.
    name: Consumer Groups
  - description: >
      The consumer object represents a consumer - or a user - of a service.

      You can either rely on Kong Gateway as the primary datastore, or you can
      map the consumer list with your database to keep consistency between Kong
      Gateway and your existing primary datastore.
    name: Consumers
  - name: CustomPlugins
  - name: Degraphql_routes
  - name: HMAC-auth credentials
  - name: JWTs
  - description: >
      A JSON Web key set. Key sets are the preferred way to expose keys to
      plugins because they tell the plugin where to look for keys or have a
      scoping mechanism to restrict plugins to specific keys.
    name: KeySets
  - description: >
      A key object holds a representation of asymmetric keys in various formats.
      When Kong Gateway or a Kong plugin requires a specific public or private
      key to perform certain operations, it can use this entity.
    name: Keys
  - name: MTLS-auth credentials
  - name: Partial Links
  - description: >-
      Some entities in Kong Gateway share common configuration settings that
      often need to be repeated. For example, multiple plugins that connect to
      Redis may require the same connection settings. Without Partials, you
      would need to replicate this configuration across all plugins. If the
      settings change, you would need to update each plugin individually.
    name: Partials
  - description: >-
      A plugin entity represents a plugin configuration that will be executed
      during the HTTP request/response lifecycle. Plugins let you add
      functionality to services that run behind a Kong Gateway instance, like
      authentication or rate limiting.

      You can find more information about available plugins and which values
      each plugin accepts at the [Plugin
      Hub](https://developer.konghq.com/plugins/).

      <br><br>

      When adding a plugin configuration to a service, the plugin will run on
      every request made by a client to that service. If a plugin needs to be
      tuned to different values for some specific consumers, you can do so by
      creating a separate plugin instance that specifies both the service and
      the consumer, through the service and consumer fields.
    name: Plugins
  - description: >
      Route entities define rules to match client requests. Each route is
      associated with a service, and a service may have multiple routes
      associated to it. Every request matching a given route will be proxied to
      the associated service. You need at least one matching rule that applies
      to the protocol being matched by the route.

      <br><br>

      The combination of routes and services, and the separation of concerns
      between them, offers a powerful routing mechanism with which it is
      possible to define fine-grained entrypoints in Kong Gateway leading to
      different upstream services of your infrastructure.

      <br><br>

      Depending on the protocol, one of the following attributes must be set:

      <br>


      - `http`: At least one of `methods`, `hosts`, `headers`, or `paths`

      - `https`: At least one of `methods`, `hosts`, `headers`, `paths`, or
      `snis`

      - `tcp`: At least one of `sources` or `destinations`

      - `tls`: at least one of `sources`, `destinations`, or `snis`

      - `tls_passthrough`: set `snis`

      - `grpc`: At least one of `hosts`, `headers`, or `paths`

      - `grpcs`: At least one of `hosts`, `headers`, `paths`, or `snis`

      - `ws`: At least one of `hosts`, `headers`, or `paths`

      - `wss`: At least one of `hosts`, `headers`, `paths`, or `snis`



        <br>
        A route can't have both `tls` and `tls_passthrough` protocols at same time.
        <br><br>
        Learn more about the router:
      - [Configure routes using
      expressions](https://developer.konghq.com/gateway/routing/expressions/)
    name: Routes
  - description: >-
      An SNI object represents a many-to-one mapping of hostnames to a
      certificate.

      <br><br>

      A certificate object can have many hostnames associated with it. When Kong
      Gateway receives an SSL request, it uses the SNI field in the Client Hello
      to look up the certificate object based on the SNI associated with the
      certificate.
    name: SNIs
  - name: Schemas
  - description: >
      Service entities are abstractions of your microservice interfaces or
      formal APIs. For example, a service could be a data transformation
      microservice or a billing API.

      <br><br>

      The main attribute of a service is the destination URL for proxying
      traffic. This URL can be set as a single string or by specifying its
      protocol, host, port and path individually.

      <br><br>

      Services are associated to routes, and a single service can have many
      routes associated with it. Routes are entrypoints in Kong Gateway which
      define rules to match client requests. Once a route is matched, Kong
      Gateway proxies the request to its associated service. See the [Route
      documentation](https://developer.konghq.com/gateway/entities/route/) for a
      detailed explanation of how Kong proxies traffic.

      <br><br>

      Services can be both [tagged and filtered by
      tags](https://developer.konghq.com/admin-api/).
    name: Services
  - description: >
      A target is an IP address or hostname with a port that identifies an
      instance of a backend service. Every upstream can have many targets, and
      the targets can be dynamically added, modified, or deleted. Changes take
      effect on the fly.

      <br><br>

      To disable a target, post a new one with `weight=0`, or use the `DELETE`
      method to accomplish the same.
    name: Targets
  - description: >-
      The upstream object represents a virtual hostname and can be used to load
      balance incoming requests over multiple services (targets).

      <br><br>

      An upstream also includes a [health
      checker](https://developer.konghq.com/gateway/traffic-control/health-checks-circuit-breakers/),
      which can enable and disable targets based on their ability or inability
      to serve requests.

      The configuration for the health checker is stored in the upstream object,
      and applies to all of its targets.
    name: Upstreams
  - description: >
      Vault objects are used to configure different vault connectors for
      [managing
      secrets](https://developer.konghq.com/gateway/secrets-management/).

      Configuring a vault lets you reference secrets from other entities.

      This allows for a proper separation of secrets and configuration and
      prevents secret sprawl.

      <br><br>

      For example, you could store a certificate and a key in a vault, then
      reference them from a certificate entity. This way, the certificate and
      key are not stored in the entity directly and are more secure.

      <br><br>

      Secrets rotation can be managed using
      [TTLs](https://developer.konghq.com/gateway/entities/vault/).
    name: Vaults
paths:
  /v1/catalog-services:
    post:
      x-speakeasy-entity-operation: CatalogService#create
      summary: Create Service
      description: Creates a service.
      operationId: create-catalog-service
      requestBody:
        $ref: '#/components/requestBodies/CreateCatalogServiceRequest'
      responses:
        '201':
          $ref: '#/components/responses/CatalogServiceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Catalog Services
    get:
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogServiceFilter'
        - $ref: '#/components/parameters/CatalogServiceSort'
      summary: List Services
      description: Returns a paginated collection of services.
      operationId: list-catalog-services
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogServicesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Catalog Services
  /v1/catalog-services/{id}:
    parameters:
      - schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        name: id
        in: path
        required: true
        description: The `id` of the service.
    get:
      x-speakeasy-entity-operation:
        terraform-resource: CatalogService#read
        terraform-datasource: null
      summary: Get a Service
      description: Fetches a service.
      operationId: fetch-catalog-service
      responses:
        '200':
          $ref: '#/components/responses/CatalogServiceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Services
    patch:
      x-speakeasy-entity-operation: CatalogService#update
      summary: Update Service
      operationId: update-catalog-service
      description: Updates a service.
      requestBody:
        $ref: '#/components/requestBodies/UpdateCatalogServiceRequest'
      responses:
        '200':
          $ref: '#/components/responses/CatalogServiceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Catalog Services
    delete:
      x-speakeasy-entity-operation: CatalogService#delete
      summary: Delete Service
      description: Deletes a service.
      operationId: delete-catalog-service
      responses:
        '204':
          description: Service was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Services
  /v1/catalog-services/{id}/resources:
    parameters:
      - schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        name: id
        in: path
        required: true
        description: The `id` of the service.
    get:
      summary: List Service Resources
      operationId: list-catalog-service-resources
      description: Returns a paginated collection of resources mapped to a service.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogResourceRefFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogServiceResourcesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Service Resources
  /v1/event-gateways:
    get:
      summary: List all Event Gateways
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewaysResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      operationId: list-event-gateways
      description: >-
        Returns an array of gateway objects containing information about the
        Konnect Event Gateways.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      tags:
        - Event Gateways
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#create
        terraform-datasource: null
      summary: Create Event Gateway
      operationId: create-event-gateway
      responses:
        '201':
          $ref: '#/components/responses/CreateGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGatewayRequest'
      description: Create a Event gateway in the Konnect Organization.
  /v1/event-gateways/{gatewayId}:
    parameters:
      - name: gatewayId
        x-speakeasy-match: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
        description: The UUID of your Gateway.
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#read
        terraform-datasource: null
      summary: Get an Event Gateway
      responses:
        '200':
          description: A response to retrieving a single eventgateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      operationId: get-event-gateway
      description: Returns information about an individual Event gateway.
      tags:
        - Event Gateways
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#update
        terraform-datasource: null
      summary: Update Event Gateway
      operationId: update-event-gateway
      responses:
        '200':
          $ref: '#/components/responses/UpdateGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      description: Update an individual gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGatewayRequest'
      tags:
        - Event Gateways
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#delete
        terraform-datasource: null
      summary: Delete Event Gateway
      operationId: delete-event-gateway
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      description: Delete an individual gateway.
      tags:
        - Event Gateways
  /v1/event-gateways/{gatewayId}/backend-clusters:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      summary: List Backend Clusters
      description: >-
        Returns a list of backend clusters associated with the specified Event
        Gateway.
      operationId: list-event-gateway-backend-clusters
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListBackendClustersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Backend Clusters
    post:
      summary: Create Backend Cluster
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayBackendCluster#create
        terraform-datasource: null
      description: Creates a new backend cluster.
      operationId: create-event-gateway-backend-cluster
      requestBody:
        $ref: '#/components/requestBodies/CreateBackendClusterRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendCluster'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Backend Clusters
  /v1/event-gateways/{gatewayId}/backend-clusters/{backendClusterId}:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - schema:
          type: string
          format: uuid
        name: backendClusterId
        in: path
        x-speakeasy-match: id
        required: true
        description: The ID of the Backend Cluster.
    get:
      summary: Get a Backend Cluster
      description: Returns information about a specific backend cluster.
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayBackendCluster#read
        terraform-datasource: null
      operationId: get-event-gateway-backend-cluster
      responses:
        '200':
          description: A single backend cluster object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendCluster'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Backend Clusters
    put:
      summary: Update Backend Cluster
      description: Updates an existing backend cluster.
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayBackendCluster#update
        terraform-datasource: null
      operationId: update-event-gateway-backend-cluster
      requestBody:
        $ref: '#/components/requestBodies/UpdateBackendClusterRequest'
      responses:
        '200':
          description: Updated backend cluster object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendCluster'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Backend Clusters
    delete:
      summary: Delete Backend Cluster
      description: Deletes a specific backend cluster.
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayBackendCluster#delete
        terraform-datasource: null
      operationId: delete-event-gateway-backend-cluster
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Backend Clusters
  /v1/event-gateways/{gatewayId}/data-plane-certificates:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      summary: List Event Gateway DataPlane Certificates
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayDataPlaneCertificatesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: list-event-gateway-data-plane-certificates
      tags:
        - Event Gateway DataPlane Certificates
      description: >-
        Returns a list of dataplane certificates that are associated to this
        event gateway. A dataplane certificate allows dataplanes configured with
        the certificate and corresponding private key to establish connection
        with this event gateway.
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayDataPlaneCertificate#create
        terraform-datasource: null
      summary: Create a New DataPlane Certificate
      description: >-
        Create new dataplane certificate to this event gateway. A dataplane
        certificate allows dataplanes configured with the certificate and
        corresponding private key to establish connection with this event
        gateway.
      operationId: create-event-gateway-data-plane-certificate
      requestBody:
        $ref: >-
          #/components/requestBodies/CreateEventGatewayDataPlaneCertificateRequest
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayDataPlaneCertificate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway DataPlane Certificates
  /v1/event-gateways/{gatewayId}/data-plane-certificates/{certificateId}:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - schema:
          type: string
          format: uuid
        name: certificateId
        in: path
        x-speakeasy-match: id
        required: true
        description: The ID of the dataplane certificate.
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayDataPlaneCertificate#read
        terraform-datasource: null
      summary: Get a DataPlane Certificate
      responses:
        '200':
          description: A single dataplane certificate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayDataPlaneCertificate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-event-gateway-data-plane-certificate
      tags:
        - Event Gateway DataPlane Certificates
      description: Returns information about an individual dataplane certificate.
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayDataPlaneCertificate#update
        terraform-datasource: null
      summary: Update Event Gateway DataPlane Certificate
      description: >-
        Updates an existing dataplane certificate associated with the specified
        Event Gateway.
      operationId: update-event-gateway-data-plane-certificate
      requestBody:
        $ref: >-
          #/components/requestBodies/UpdateEventGatewayDataPlaneCertificateRequest
      responses:
        '200':
          description: Updated event gateway dataplane certificate object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayDataPlaneCertificate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway DataPlane Certificates
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayDataPlaneCertificate#delete
        terraform-datasource: null
      summary: Delete Event Gateway DataPlane Certificate
      description: >-
        Deletes a specific dataplane certificate associated with the Event
        Gateway.
      operationId: delete-event-gateway-data-plane-certificate
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway DataPlane Certificates
  /v1/event-gateways/{gatewayId}/listeners:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      summary: List Event Gateway Listeners
      description: Returns a list of listeners associated with the specified Event Gateway.
      operationId: list-event-gateway-listeners
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayListenersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listeners
    post:
      summary: Create Event Gateway Listener
      description: Creates a new listener associated with the specified Event Gateway.
      operationId: create-event-gateway-listener
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListener#create
        terraform-datasource: null
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayListenerRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListener'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listeners
  /v1/event-gateways/{gatewayId}/listeners/{eventGatewayListenerId}:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - schema:
          type: string
          format: uuid
        name: eventGatewayListenerId
        in: path
        x-speakeasy-match: id
        required: true
        description: The ID of the Event Gateway Listener.
    get:
      summary: Get an Event Gateway Listener
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListener#read
        terraform-datasource: null
      description: >-
        Returns information about a specific listener associated with the Event
        Gateway.
      operationId: get-event-gateway-listener
      responses:
        '200':
          description: A single event gateway listener object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListener'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Listeners
    put:
      summary: Update Event Gateway Listener
      description: >-
        Updates an existing listener associated with the specified Event
        Gateway.
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListener#update
        terraform-datasource: null
      operationId: update-event-gateway-listener
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayListenerRequest'
      responses:
        '200':
          description: Updated event gateway listener object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListener'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listeners
    delete:
      summary: Delete Event Gateway Listener
      description: Deletes a specific listener associated with the Event Gateway.
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListener#delete
        terraform-datasource: null
      operationId: delete-event-gateway-listener
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Listeners
  /v1/event-gateways/{gatewayId}/listeners/{eventGatewayListenerId}/policies:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayListenerId'
    get:
      summary: List Policies for Listener
      description: >-
        Returns a list of policies associated with the specified Event Gateway
        listener.
      operationId: list-event-gateway-listener-policies
      parameters:
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayListenerPoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListenerPolicy#create
        terraform-datasource: null
      summary: Create Policy for Listener
      description: >-
        Creates a new policy associated with the specified Event Gateway
        listener.
      operationId: create-event-gateway-listener-policy
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayListenerPolicyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListenerPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
  /v1/event-gateways/{gatewayId}/listeners/{eventGatewayListenerId}/policies/{policyId}:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayListenerId'
      - name: policyId
        in: path
        required: true
        x-speakeasy-match: id
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
        description: The UUID of the policy.
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListenerPolicy#read
        terraform-datasource: null
      summary: Get a Policy for Listener
      description: >-
        Returns information about a specific policy associated with the Event
        Gateway listener.
      operationId: get-event-gateway-listener-policy
      responses:
        '200':
          description: A single policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListenerPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Listener Policies
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListenerPolicy#update
        terraform-datasource: null
      summary: Update Policy for Listener
      description: >-
        Updates an existing policy associated with the specified Event Gateway
        listener.
      operationId: update-event-gateway-listener-policy
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayListenerPolicyRequest'
      responses:
        '200':
          description: Updated policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListenerPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
    patch:
      summary: Partially Update Policy for Listener
      description: >-
        Partially updates an existing policy associated with the specified Event
        Gateway listener.
      operationId: patch-event-gateway-listener-policy
      requestBody:
        $ref: '#/components/requestBodies/PatchEventGatewayListenerPolicyRequest'
      responses:
        '200':
          description: Updated policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListenerPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListenerPolicy#delete
        terraform-datasource: null
      summary: Delete Policy for Listener
      description: Deletes a specific policy associated with the Event Gateway listener.
      operationId: delete-event-gateway-listener-policy
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Listener Policies
  /v1/event-gateways/{gatewayId}/listeners/{eventGatewayListenerId}/policies/{policyId}/move:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayListenerId'
      - $ref: '#/components/parameters/policyId'
    post:
      summary: Move Policy
      description: >
        Moves the position of a specific policy relative to the chain associated
        with the Event Gateway listener.
      operationId: move-event-gateway-listener-policy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveEventGatewayPolicy'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
  /v1/event-gateways/{gatewayId}/nodes:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      summary: List Nodes
      description: Returns a list of nodes associated with the specified Event Gateway.
      operationId: list-event-gateway-nodes
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayNodesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Nodes
  /v1/event-gateways/{gatewayId}/nodes/{eventGatewayNodeId}:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayNodeId'
    get:
      summary: Get a Node
      description: >-
        Returns information about a specific node associated with the Event
        Gateway.
      operationId: get-event-gateway-node
      responses:
        '200':
          description: A single node object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayNode'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Nodes
  /v1/event-gateways/{gatewayId}/nodes/{eventGatewayNodeId}/errors:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayNodeId'
    get:
      summary: List Node Errors
      description: Returns information about the node errors.
      operationId: list-event-gateway-node-errors
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayNodeErrorsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Nodes
  /v1/event-gateways/{gatewayId}/nodes/{eventGatewayNodeId}/status:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayNodeId'
    get:
      summary: Get Node Status
      description: Returns information about the node status.
      operationId: get-event-gateway-node-status
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayNodeStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Nodes
  /v1/event-gateways/{gatewayId}/schema-registries:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      summary: List Schema Registries
      description: >-
        Returns a list of schema registries associated with the specified Event
        Gateway.
      operationId: list-event-gateway-schema-registries
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListSchemaRegistriesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Schema Registries
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewaySchemaRegistry#create
        terraform-datasource: null
      summary: Create Schema Registry
      description: >-
        Creates a new schema registry associated with the specified Event
        Gateway.
      operationId: create-event-gateway-schema-registry
      requestBody:
        $ref: '#/components/requestBodies/CreateSchemaRegistryRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaRegistry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Schema Registries
  /v1/event-gateways/{gatewayId}/schema-registries/{schemaRegistryId}:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - schema:
          type: string
          format: uuid
        name: schemaRegistryId
        in: path
        required: true
        x-speakeasy-match: id
        description: The ID of the Schema Registry.
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewaySchemaRegistry#read
        terraform-datasource: null
      summary: Get a Schema Registry
      description: >-
        Returns information about a specific schema registry associated with the
        Event Gateway.
      operationId: get-event-gateway-schema-registry
      responses:
        '200':
          description: A single schema registry object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaRegistry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Schema Registries
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewaySchemaRegistry#update
        terraform-datasource: null
      summary: Update Schema Registry
      description: >-
        Updates an existing schema registry associated with the specified Event
        Gateway.
      operationId: update-event-gateway-schema-registry
      requestBody:
        $ref: '#/components/requestBodies/UpdateSchemaRegistryRequest'
      responses:
        '200':
          description: Updated schema registry object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaRegistry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Schema Registries
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewaySchemaRegistry#delete
        terraform-datasource: null
      summary: Delete Schema Registry
      description: Deletes a specific schema registry associated with the Event Gateway.
      operationId: delete-event-gateway-schema-registry
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Schema Registries
  /v1/event-gateways/{gatewayId}/static-keys:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      summary: List Event Gateway Static Keys
      description: Returns a list of static keys associated to this event gateway.
      operationId: list-event-gateway-static-keys
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayStaticKeysResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Static Keys
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayStaticKey#create
        terraform-datasource: null
      summary: Create a New Static Key
      description: Create new static key to this event gateway.
      operationId: create-event-gateway-static-key
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayStaticKeyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayStaticKey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Static Keys
  /v1/event-gateways/{gatewayId}/static-keys/{staticKeyId}:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - schema:
          type: string
          format: uuid
        name: staticKeyId
        in: path
        x-speakeasy-match: id
        required: true
        description: The ID of the static key.
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayStaticKey#read
        terraform-datasource: null
      summary: Get a Static Key
      description: Returns information about an individual static key.
      operationId: get-event-gateway-static-key
      responses:
        '200':
          description: A single static key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayStaticKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Static Keys
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayStaticKey#delete
        terraform-datasource: null
      summary: Delete Event Gateway Static Key
      description: Deletes a specific static key associated with the Event Gateway.
      operationId: delete-event-gateway-static-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Static Keys
  /v1/event-gateways/{gatewayId}/virtual-clusters:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      summary: List all virtual clusters
      description: >-
        Returns a paginated list of virtual clusters associated with the
        specified Event Gateway.
      operationId: list-event-gateway-virtual-clusters
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - schema:
            type: object
            properties:
              backend_cluster_id:
                $ref: '#/components/schemas/StringFieldEqualsFilter'
              name:
                $ref: '#/components/schemas/StringFieldContainsFilter'
          in: query
          name: filter
          description: Filter documents returned in the response.
          required: false
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListVirtualClustersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Clusters
    post:
      summary: Create Virtual Cluster
      description: >-
        Creates a new virtual cluster associated with the specified Event
        Gateway.
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualCluster#create
        terraform-datasource: null
      operationId: create-event-gateway-virtual-cluster
      requestBody:
        $ref: '#/components/requestBodies/CreateVirtualClusterRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCluster'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Clusters
  /v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - schema:
          type: string
          format: uuid
        name: virtualClusterId
        in: path
        required: true
        x-speakeasy-match: id
        description: The ID of the Virtual Cluster.
    get:
      summary: Get a Virtual Cluster
      description: >-
        Returns information about a specific virtual cluster associated with the
        Event Gateway.
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualCluster#read
        terraform-datasource: null
      operationId: get-event-gateway-virtual-cluster
      responses:
        '200':
          description: A single virtual cluster object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCluster'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Clusters
    put:
      summary: Update Virtual Cluster
      description: >-
        Updates an existing virtual cluster associated with the specified Event
        Gateway.
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualCluster#update
        terraform-datasource: null
      operationId: update-event-gateway-virtual-cluster
      requestBody:
        $ref: '#/components/requestBodies/UpdateVirtualClusterRequest'
      responses:
        '200':
          description: Updated virtual cluster object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCluster'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Clusters
    delete:
      summary: Delete Virtual Cluster
      description: Deletes a specific virtual cluster associated with the Event Gateway.
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualCluster#delete
        terraform-datasource: null
      operationId: delete-event-gateway-virtual-cluster
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Clusters
  /v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/cluster-policies:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
    get:
      summary: List Cluster Policies for Virtual Cluster
      description: >-
        Returns a list of cluster-level policies associated with the virtual
        cluster.
      operationId: list-event-gateway-virtual-cluster-cluster-level-policies
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyListFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListClusterPoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterClusterPolicy#create
        terraform-datasource: null
      summary: Create Cluster Policy for Virtual Cluster
      description: >-
        Creates a new cluster-level policy associated with the specified Event
        Gateway virtual cluster.
      operationId: create-event-gateway-virtual-cluster-cluster-level-policy
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayClusterPolicyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
  /v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/cluster-policies/{policyId}:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - name: policyId
        in: path
        required: true
        x-speakeasy-match: id
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
        description: The UUID of the policy.
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterClusterPolicy#read
        terraform-datasource: null
      summary: Get a Cluster Policy for Virtual Cluster
      description: >-
        Returns information about a specific cluster-level policy associated
        with the Event Gateway virtual cluster.
      operationId: get-event-gateway-virtual-cluster-cluster-level-policy
      responses:
        '200':
          description: A single cluster-level policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Policies
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterClusterPolicy#update
        terraform-datasource: null
      summary: Update Cluster Policy for Virtual Cluster
      description: >-
        Updates an existing cluster-level policy associated with the specified
        Event Gateway virtual cluster.
      operationId: update-event-gateway-virtual-cluster-cluster-level-policy
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayClusterPolicyRequest'
      responses:
        '200':
          description: Updated cluster-level policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
    patch:
      summary: Patch Cluster Policy for Virtual Cluster
      description: >-
        Partially updates an existing cluster-level policy associated with the
        specified Event Gateway virtual cluster.
      operationId: patch-event-gateway-virtual-cluster-cluster-level-policy
      requestBody:
        $ref: '#/components/requestBodies/PatchEventGatewayPolicyRequest'
      responses:
        '200':
          description: Updated cluster-level policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterClusterPolicy#delete
        terraform-datasource: null
      summary: Delete Cluster Policy for Virtual Cluster
      description: >-
        Deletes a specific cluster-level policy associated with the Event
        Gateway virtual cluster.
      operationId: delete-event-gateway-virtual-cluster-cluster-level-policy
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Policies
  /v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/cluster-policies/{policyId}/move:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - $ref: '#/components/parameters/policyId'
    post:
      summary: Move Cluster Policy
      description: >
        Moves the position of a specific cluster-level policy relative to the
        chain associated with the Event Gateway virtual

        cluster.

        If a policy is defined under a parent policy, it moves the position
        relative to the sibling policies under the

        same parent.
      operationId: move-event-gateway-virtual-cluster-cluster-level-policy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveEventGatewayPolicy'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
  /v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/consume-policies:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
    get:
      summary: List Consume Policies for Virtual Cluster
      description: >-
        Returns a list of consume policies associated with the specified Event
        Gateway virtual cluster.
      operationId: list-event-gateway-virtual-cluster-consume-policies
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyListFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListConsumePoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterConsumePolicy#create
        terraform-datasource: null
      summary: Create Consume Policy for Virtual Cluster
      description: >-
        Creates a new consume policy associated with the specified Event Gateway
        virtual cluster.
      operationId: create-event-gateway-virtual-cluster-consume-policy
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayConsumePolicyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
  /v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/consume-policies/{policyId}:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - name: policyId
        in: path
        required: true
        x-speakeasy-match: id
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
        description: The UUID of the policy.
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterConsumePolicy#read
        terraform-datasource: null
      summary: Get a Consume Policy for Virtual Cluster
      description: >-
        Returns information about a specific consume policy associated with the
        Event Gateway virtual cluster.
      operationId: get-event-gateway-virtual-cluster-consume-policy
      responses:
        '200':
          description: A single consume policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterConsumePolicy#update
        terraform-datasource: null
      summary: Update Consume Policy for Virtual Cluster
      description: >-
        Updates an existing consume policy associated with the specified Event
        Gateway virtual cluster.
      operationId: update-event-gateway-virtual-cluster-consume-policy
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayConsumePolicyRequest'
      responses:
        '200':
          description: Updated consume policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
    patch:
      summary: Patch Consume Policy for Virtual Cluster
      description: >-
        Updates an existing consume policy associated with the specified Event
        Gateway virtual cluster.
      operationId: patch-event-gateway-virtual-cluster-consume-policy
      requestBody:
        $ref: '#/components/requestBodies/PatchEventGatewayPolicyRequest'
      responses:
        '200':
          description: Updated consume policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterConsumePolicy#delete
        terraform-datasource: null
      summary: Delete Consume Policy for Virtual Cluster
      description: >-
        Deletes a specific consume policy associated with the Event Gateway
        virtual cluster.
      operationId: delete-event-gateway-virtual-cluster-consume-policy
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
  /v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/consume-policies/{policyId}/move:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - $ref: '#/components/parameters/policyId'
    post:
      summary: Move Consume Policy
      description: >
        Moves the position of a specific consume policy relative to the chain
        associated with the Event Gateway virtual

        cluster.

        If a policy is defined under a parent policy, it moves the position
        relative to the sibling policies under the

        same parent.
      operationId: move-event-gateway-virtual-cluster-consume-policy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveEventGatewayPolicy'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
  /v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/produce-policies:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
    get:
      summary: List Produce Policies for Virtual Cluster
      description: >-
        Returns a list of produce policies associated with the specified Event
        Gateway virtual cluster.
      operationId: list-event-gateway-virtual-cluster-produce-policies
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyListFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListProducePoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterProducePolicy#create
        terraform-datasource: null
      summary: Create Produce Policy for Virtual Cluster
      description: >-
        Creates a new produce policy associated with the specified Event Gateway
        virtual cluster.
      operationId: create-event-gateway-virtual-cluster-produce-policy
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayProducePolicyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
  /v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/produce-policies/{policyId}:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - name: policyId
        x-speakeasy-match: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
        description: The UUID of the policy.
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterProducePolicy#read
        terraform-datasource: null
      summary: Get a Produce Policy for Virtual Cluster
      description: >-
        Returns information about a specific produce policy associated with the
        Event Gateway virtual cluster.
      operationId: get-event-gateway-virtual-cluster-produce-policy
      responses:
        '200':
          description: A single produce policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterProducePolicy#update
        terraform-datasource: null
      summary: Update Produce Policy for Virtual Cluster
      description: >-
        Updates an existing produce policy associated with the specified Event
        Gateway virtual cluster.
      operationId: update-event-gateway-virtual-cluster-produce-policy
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayProducePolicyRequest'
      responses:
        '200':
          description: Updated produce policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
    patch:
      summary: Patch Produce Policy for Virtual Cluster
      description: >-
        Partially updates an existing produce policy associated with the
        specified Event Gateway virtual cluster.
      operationId: patch-event-gateway-virtual-cluster-produce-policy
      requestBody:
        $ref: '#/components/requestBodies/PatchEventGatewayPolicyRequest'
      responses:
        '200':
          description: Updated produce policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterProducePolicy#delete
        terraform-datasource: null
      summary: Delete Produce Policy for Virtual Cluster
      description: >-
        Deletes a specific produce policy associated with the Event Gateway
        virtual cluster.
      operationId: delete-event-gateway-virtual-cluster-produce-policy
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
  /v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/produce-policies/{policyId}/move:
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - $ref: '#/components/parameters/policyId'
    post:
      summary: Move Produce Policy
      description: >
        Moves the position of a specific produce policy relative to the chain
        associated with the Event Gateway virtual

        cluster.

        If a policy is defined under a parent policy, it moves the position
        relative to the sibling policies under the

        same parent.
      operationId: move-event-gateway-virtual-cluster-produce-policy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveEventGatewayPolicy'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
  /v1/integration-instances:
    post:
      x-speakeasy-entity-operation: IntegrationInstance#create
      summary: Create Integration Instance
      description: Creates an integration instance.
      operationId: create-integration-instance
      requestBody:
        $ref: '#/components/requestBodies/CreateIntegrationInstanceRequest'
      responses:
        '201':
          $ref: '#/components/responses/IntegrationInstanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Integration Instances
    get:
      summary: List Integration Instances
      description: Returns a paginated collection of integration instances.
      operationId: list-integration-instances
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/IntegrationInstanceFilter'
        - $ref: '#/components/parameters/IntegrationInstanceSort'
      responses:
        '200':
          $ref: '#/components/responses/ListIntegrationInstancesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Integration Instances
  /v1/integration-instances/{id}:
    parameters:
      - schema:
          type: string
          example: 3f51fa25-310a-421d-bd1a-007f859021a3
        name: id
        in: path
        required: true
        description: The `id` of the integration instance.
    get:
      x-speakeasy-entity-operation:
        terraform-resource: IntegrationInstance#read
        terraform-datasource: null
      summary: Get an Integration Instance
      description: Fetches a integration instance.
      operationId: fetch-integration-instance
      responses:
        '200':
          $ref: '#/components/responses/IntegrationInstanceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instances
    patch:
      x-speakeasy-entity-operation: IntegrationInstance#update
      summary: Update Integration Instance
      operationId: update-integration-instance
      description: Updates an integration instance.
      requestBody:
        $ref: '#/components/requestBodies/UpdateIntegrationInstanceRequest'
      responses:
        '200':
          $ref: '#/components/responses/IntegrationInstanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Integration Instances
    delete:
      x-speakeasy-entity-operation: IntegrationInstance#delete
      summary: Delete Integration Instance
      description: Deletes an integration instance.
      operationId: delete-integration-instance
      responses:
        '204':
          description: Integration Instance was deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instances
  /v1/integration-instances/{integrationInstanceId}/auth-config:
    parameters:
      - schema:
          type: string
          example: 3f51fa25-310a-421d-bd1a-007f859021a3
        name: integrationInstanceId
        in: path
        required: true
        description: The `id` of the integration instance.
    get:
      x-speakeasy-entity-operation:
        terraform-resource: IntegrationInstanceAuthConfig#read
        terraform-datasource: null
      summary: Get Integration Instance Auth Config
      operationId: get-integration-instance-auth-config
      description: Fetches auth config scoped to the given integration instance.
      responses:
        '200':
          $ref: '#/components/responses/IntegrationInstanceAuthConfigResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instance Auth Config
    put:
      x-speakeasy-entity-operation: IntegrationInstanceAuthConfig#create,update
      summary: Upsert Integration Instance Auth Config
      operationId: upsert-integration-instance-auth-config
      description: Upserts auth config scoped to the given integration instance.
      requestBody:
        $ref: '#/components/requestBodies/UpsertIntegrationInstanceAuthConfigRequest'
      responses:
        '200':
          $ref: '#/components/responses/IntegrationInstanceAuthConfigResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instance Auth Config
    delete:
      x-speakeasy-entity-operation: IntegrationInstanceAuthConfig#delete
      summary: Delete Integration Instance Auth Config
      operationId: delete-integration-instance-auth-config
      description: Deletes the auth config scoped to the given integration instance.
      responses:
        '204':
          description: Integration Instance Auth Config was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instance Auth Config
  /v1/integration-instances/{integrationInstanceId}/auth-credential:
    parameters:
      - schema:
          type: string
          example: 3f51fa25-310a-421d-bd1a-007f859021a3
        name: integrationInstanceId
        in: path
        required: true
        description: The `id` of the integration instance.
    post:
      x-speakeasy-entity-operation: IntegrationInstanceAuthCredential#create
      summary: Create Integration Instance Auth Credential
      operationId: create-integration-instance-auth-credential
      description: >
        Creates an auth credential scoped to the given integration instance.

        Auth credentials are singleton resources that have a 1-to-1 relationship
        with

        an integration instance.


        An attempt to create subsequent auth credentials for an instance will
        result in a 409 response.
      requestBody:
        $ref: >-
          #/components/requestBodies/CreateIntegrationInstanceAuthCredentialRequest
      responses:
        '201':
          $ref: '#/components/responses/IntegrationInstanceAuthCredentialResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Integration Instance Auth Credentials
    get:
      x-speakeasy-entity-operation:
        terraform-resource: IntegrationInstanceAuthCredential#read
        terraform-datasource: null
      summary: Get Integration Instance Auth Credential
      operationId: get-integration-instance-auth-credential
      description: Fetches the auth credential scoped to the given integration instance.
      responses:
        '200':
          $ref: '#/components/responses/IntegrationInstanceAuthCredentialResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instance Auth Credentials
    delete:
      x-speakeasy-entity-operation: IntegrationInstanceAuthCredential#delete
      summary: Delete Integration Instance Auth Credential
      operationId: delete-integration-instance-auth-credential
      description: Deletes the auth credential scoped to the given integration instance.
      responses:
        '204':
          description: Integration Instance Auth Credential was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instance Auth Credentials
  /v1/integration-instances/{integrationInstanceId}/resources/{resourceId}:
    parameters:
      - schema:
          type: string
          example: 3f51fa25-310a-421d-bd1a-007f859021a3
        name: integrationInstanceId
        in: path
        required: true
        description: The `id` of the integration instance.
      - schema:
          type: string
          example: AflTNLY0tTQhv2my
        name: resourceId
        in: path
        required: true
        description: The `id` of the resource.
    patch:
      summary: Update Resource
      description: Updates a resource.
      operationId: update-resource
      requestBody:
        $ref: '#/components/requestBodies/UpdateCatalogResourceRequest'
      responses:
        '200':
          $ref: '#/components/responses/CatalogResourceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Resources
  /v1/integrations:
    get:
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogIntegrationFilter'
        - $ref: '#/components/parameters/CatalogIntegrationSort'
      summary: List Integrations
      description: >
[...]
