openapi: 3.1.0
info:
  title: Konnect API - Go Internal SDK
  version: 3.15.0
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: https://konghq.com
    email: support@konghq.com
  x-latest-public-runtime-version: '1.2'
  x-extensions-note: >
    This API uses the `x-expression` vendor extension to indicate that a string
    property is a DSL expression.

    Supported types:
      - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`
      - `string`: A template string expression that evaluates to a string or a literal string value. For example,
        `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`

    Additionally, `x-sensitive` flag indicates that a field contains sensitive
    information. When the value

    of the field is provided in plain text, it's encrypted at rest and it's
    never returned in API responses.

    When the value is an expression, the expression itself is stored and
    returned in API responses.


    `x-min-runtime-version` indicates the minimum Event Gateway runtime version
    required to use a certain policy or

    policy feature. The runtime version can be configured at the Event Gateway
    entity level. It must be a string

    containing a semantic version in the `MAJOR.MINOR` format, e.g., `"1.1"`.
    info.[x-latest-public-runtime-version]

    indicates the latest public runtime version of Event Gateway. When

    `x-min-runtime-version > x-latest-public-runtime-version`, the property or
    schema will only appear in dev schemas.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://global.api.konghq.com
  - url: https://us.api.konghq.com
  - url: https://eu.api.konghq.com
  - url: https://au.api.konghq.com
security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
  - konnectAccessToken: []
  - clientToken: []
  - serviceAccessToken: []
tags:
  - name: Control Planes
  - name: Control Plane Groups
  - name: Control Plane Resource Quotas
  - name: Auth Settings
  - name: Invites
  - name: Roles
  - name: Team Membership
  - name: Teams
  - name: Users
  - name: System Accounts
  - name: System Accounts - Access Tokens
  - name: System Accounts - Roles
  - name: System Accounts - Team Membership
  - name: Me
  - name: Managed System Accounts - Roles
  - name: Authentication
  - name: AWS
  - name: Device Authorization Grant
  - name: SSO Auth0
  - name: Impersonation Settings
  - name: Personal Access Tokens
  - name: Data-Plane Group Configurations
    description: >
      A Cloud Gateway configuration declares the desired state of a control
      plane's data plane groups — where they run,

      how many instances, the gateway version, and the autoscaling strategy.
      Apply a configuration with PUT, and Kong

      reconciles the running data planes to match.
  - name: Networks
    description: >
      Networks are provider-backed VPC or VNet resources that host dedicated
      Cloud Gateway data plane groups.

      Each network is tied to a specific cloud provider account, region, and
      CIDR block. A network must reach

      the `ready` state before it can be referenced in a configuration.
  - name: Transit Gateways
    description: >
      Transit gateways connect a Cloud Gateway network to your cloud
      infrastructure. Supported attachment types

      span all three major cloud providers: AWS Transit Gateway, AWS VPC
      Peering, AWS Resource Endpoint (PrivateLink),

      Azure VNet Peering, Azure Virtual Hub Peering, and GCP VPC Peering.
  - name: Private DNS
    description: >
      Private DNS attachments enable a Cloud Gateway network to resolve private
      DNS zones hosted in your cloud

      provider — AWS Private Hosted Zones, AWS Outbound Resolvers, Azure Private
      Hosted Zones, Azure Outbound

      Resolvers, and GCP Private Hosted Zones.
  - name: Add-Ons
    description: >
      Optional services that extend the capabilities of a Cloud Gateway data
      plane group. The currently supported add-on type is managed cache
      (`managed-cache.v0`), which provisions a Redis-compatible in-memory cache
      co-located with your data planes. Each add-on is scoped to a control plane
      or control plane group, and is automatically deployed across all data
      plane groups that belong to that owner.
  - name: Provider Accounts
    description: >
      Provider Accounts link your Konnect organization to a cloud provider
      account (AWS, Azure, or GCP) so that Cloud Gateway networks can be
      provisioned in the dedicated cloud provider account. Each provider account
      maps a Konnect organization to a cloud provider account ID, which Konnect
      uses when creating network peering and hub-and-spoke attachments.
  - name: Custom Domains
    description: >
      Custom Domains let you assign bring-your-own hostnames to a Cloud Gateway
      control plane. After creation the domain moves through `initializing →
      ready` as Konnect provisions TLS certificates and configures SNI routing
      on the data planes. Use the online-status endpoint to confirm CNAME and
      SSL readiness before routing traffic.
  - name: Cloud Gateways Resource Quotas
    description: >
      Resource Quotas define organization-level limits on the number of Cloud
      Gateway resources — active networks, data planes, serverless data planes,
      data plane groups, and provider accounts per cloud provider. Use these
      endpoints to view the default platform limits and any overrides applied to
      your organization.
  - name: Resource Configurations
    description: >
      Resource Configurations define organization-wide behavioral settings for
      Cloud Gateway resources. Use these endpoints to view platform defaults —
      such as the data plane group idle timeout — and any overrides applied to
      your organization.
  - name: Resource Availability
    description: >
      Resource Availability is a public, unauthenticated endpoint that describes
      what Kong Cloud Gateway infrastructure is available to provision. Use it
      to discover supported cloud providers, regions, gateway versions, and
      instance type details — all the building blocks you need before creating
      networks or configuring data plane groups.
  - name: Notifications
    description: Operations related to notifications
  - name: DCR Providers
    description: >
      Dynamic Client Registration Providers are configurations representing an
      external Identity Provider whose clients (i.e. Applications) Konnect will
      be authorized to manage.

      For instance, they will be able to perform dynamic client registration
      (DCR) with the provider. 

      The DCR provider provides credentials to each DCR-enabled application in
      Konnect that can be used to access Product Versions that the app is
      registered for.
  - name: App Auth Strategies
    description: >
      Application Auth Strategies are sets of plugin configurations that
      represent how the gateway will perform authentication and authorization
      for a Product Version. 

      Called “Auth Strategy” for short in the context of portals/applications. 

      The plugins are synced to any Gateway Service that is currently linked or
      becomes linked to the Product Version.
  - name: API
  - name: API Documentation
  - name: API Specification
  - name: API Publication
  - name: API Image
  - name: API Implementation
  - name: API Operations
  - name: API Attributes
  - name: API Packages
  - name: API Package Operations
  - name: API Package Documentation
  - name: API Package Image
  - name: Portals
    description: APIs related to configuration of Konnect Developer Portals.
  - name: Portal Custom Domains
    description: APIs related to configuration of Konnect Developer Portals custom domains.
  - name: Portal Customization
    description: APIs related to customization of Konnect Developer Portals.
  - name: Portal Auth Settings
    description: APIs related to configuration of Konnect Developer Portal auth settings.
  - name: Portal Developers
    description: APIs related to Konnect Developer Portal developers.
  - name: Portal Teams
    description: APIs related to configuration of Konnect Developer Portal developer teams.
  - name: Portal Team Membership
    description: APIs related to Konnect Developer Portal developer team membership.
  - name: Portal Team Roles
    description: APIs related to Konnect Developer Portal developer team roles.
  - name: Portal Integrations
    description: APIs to configure Konnect Developer Portal integrations.
  - name: Assets
    description: APIs for managing static assets for Konnect Developer Portals.
  - name: Pages
    description: APIs related to Konnect Developer Portal Custom Pages.
  - name: Snippets
    description: APIs related to Konnect Developer Portal Custom Snippets.
  - name: Applications
    description: APIs related to Konnect Developer Portal Applications.
  - name: Application Registrations
    description: APIs related to Konnect Developer Portal Application Registrations.
  - name: Portal Emails
    description: APIs related to Konnect Developer Portal Emails.
  - name: Portals IP Allow List
    description: APIs related to Konnect Portal IP Allow List.
  - name: Portal MCP Registry Publications
    description: APIs related to MCP registry publications on Konnect Developer Portals.
  - name: Portal MCP Servers
    description: APIs related to Portal MCP Servers
  - name: Catalog Services
    description: >
      Create and maintain a centralized catalog of all services running in your
      organization.

      Add custom fields and map resources from across your organization to
      provide a 360-degree overview of your services.


      Custom fields allow you to surface key information such as:

      - `Owner`: The person or team responsible for the service

      - `Product Manager`: The person assigned to guide the service's direction
      for customer success

      - `Jira Project`: The Jira project which represents past, present and
      future work for the service


      Resources are discovered from the integrations you use within your
      organization to create, operate and manage your services.

      Mapping the resources relevant to your service will provide a rich view of
      the service's communication channels, dependencies and more.

      Types of resources which you can map to a service include:

      - `Code Repositories:` The software project(s) that make up the service

      - `Monitors and Dashboards:` Tools providing visibility into the health
      and performance of the service

      - `Communication Channels`: Virtual spaces where questions and concerns
      can be raised about the service

      - `Incident Management Resources`: Alerts setup within your incident
      management platform to notify individuals regarding issues with the
      service
  - name: Catalog Service API Specs
    description: >
      Attach API specifications which describe the interface and behavior of the
      service.

      These specifications describe service API constracts for internal or
      external consumption.

      You may attach an API specification by uploading a file, providing a link
      to the specification, or my mapping a resource from a API spec compliant
      integration.
  - name: Catalog Integrations
    description: >
      Integrations are applications, either Konnect-internal or external, which
      extend the functionality of the Service Catalog.

      Install and authorize an integration to discover the resources across your
      organization which support your services.

      Map relevant resources to your services to provide a rich view of
      cataloged services.

      To set up and view a list of all the integrations we support please view
      our
      [documentation](https://developer.konghq.com/service-catalog/integrations/).
  - name: Integration Instances
    description: >
      An integration instance represents a specific account of the integration
      which contains the resources used to manage and support your services.

      Some integrations provide configuration options to customize how it should
      behave once authorized (see the integration's manifest for details).

      Konnect-internal integrations are built-in and do not need to be
      installed.


      Once an integration instance is created, authorize the instance to allow
      the Service Catalog to discover its resources.

      Note that deleting an integration instance is a **destructive** operation.

      When an integration instance is deleted, all its resources and mappings
      will be deleted from the service catalog.

      In cases where the integration instance's credentials need to be updated,
      you may re-authorize the instance to retain all currently discovered
      resources and mappings.

      To set up and view a list of all the integrations we support, please view
      our
      [documentation](https://developer.konghq.com/service-catalog/integrations/).
  - name: Integration Instance Auth Credentials
    description: >
      Represents the credentials use to authorize an integration instance.

      You will want to configure the integration instance settings and
      authorization configuration before authorizing the instance.

      This will inform the authorization process on how to reach and authorize
      the account.

      Once the integration instance is authorized, the system will automatically
      discover all the relevant resources from the account.

      The integration instance's auth credentials can be removed or updated
      while retaining all resources which have already been discovered.
  - name: Integration Instance Auth Config
    description: >
      A integration instance may need to be provided with an auth config before
      authorizing the instance.

      Typically an auth config will be required when authorizing against a
      integration which is hosted within your organization.

      The integration instance's auth config will inform how the Service Catalog
      will authorize the integration instance.

      Note that updating the auth config for an instance which is already
      authorized will **remove the existing credential**, requiring you to
      re-authorize the instance.
  - name: Catalog Resources
    description: >
      Resources are entities discovered from integration instances and are
      intended to be mapped to the relevant services in the catalog.

      Once a resource has been mapped to a service, a rich view of this resource
      will be displayed when viewing your service.


      Any resources which you would like to ignore and hide can be archived.

      Note that archiving a resource will **remove** any mappings it has to
      services in the catalog.


      You can create Resources using only the properties required to identify
      the resource in the third-party system.

      Additional data will be hydrated if the integration that the Resource is
      linked to has been provided with authentication credentials.

      Resources which have not yet been hydrated may still be mapped to a
      Catalog Service.
  - name: Catalog Resource Mappings
    description: >
      Resource mappings represent the link between a resource and a service.

      Once a resource is mapped to a service, a rich view of the resource will
      be presented on the service page.

      A resource may be mapped to multiple services, but it cannot be mapped to
      the same service twice.

      If a resource mapped to a service is later archived, the resource mapping
      will be deleted.
  - name: Catalog Service Resources
    description: |
      Represents all the resources mapped to a specific service.
  - name: Catalog Resource Services
    description: |
      Represents all the services mapped to a specific resource.
  - name: Criteria Templates
    description: >
      Several criteria templates are provided to help ensure your services
      adhere to industry best practices.

      A criteria template is a collection of criteria grouped together to target
      various categories.


      Criteria may require a specific type of integration be installed and
      authorized.

      For example, criteria which evaluates the operation performance across
      incident management may require a integration related to incident
      management to be installed and authorized.

      Learn more about scorecards by visiting our
      [documentation](https://developer.konghq.com/service-catalog/scorecards/).
  - name: Scorecards
    description: >
      A scorecard helps you evaluate services based on its criteria.

      Scorecards help you detect issues, like whether there are services in the
      catalog that don't have an on-call engineer assigned, or if you have
      GitHub repositories with stale pull requests that aren't getting reviewed
      or closed.

      From the scorecard, you can view details on either a per-service or
      per-criteria basis.

      Learn more about scorecards by visiting our
      [documentation](https://developer.konghq.com/service-catalog/scorecards/).
  - name: Resource Ingestion
    description: >
      Get details and trigger resource ingestion from authorized integrations.

      Resource ingestion allows for manually syncing resources from authorized
      integrations.

      It provides details on when the resources were last synced from an
      authorized integration.
  - name: Resource Actions
    description: >
      Resource actions provides an overview of actions taken on resources.

      It provides information on when one of the following actions are taken on
      a resource:

      - Map

      - Unmap

      - Archive

      - Restore
  - name: Integration Instance Proxy
    description: >
      The integration instance proxy allows requests to be made to the
      authorized integration instance.

      The APIs which are allowed to be proxied to the integration instances are
      defined in the `proxies` section of the Integration.
  - name: Suggestion Rules
    description: >
      Suggestion rules allow for automated management of resources.

      Suggestion rule can be configured to:

      - Map resources to existing catalog service

      - Map resources to a new catalog service

      - Archive resources


      System suggestion rules are built-in rules which are configured and
      managed by Kong.
  - name: Suggestion Rule Errors
    description: >
      Suggestion rule errors describes errors which have occured when a
      suggestion rule was evaluated on a resource.

      An error may occur due to syntax errors on the configured suggestion rule,
      or various other runtime errors.
  - name: Integration Events
    description: |
      Integration events represent the activity within an integration instance.
  - name: Catalog Service Documents
    description: >
      Attach documentation for your services to communicate it's architecture,
      support details, release notes, and usage examples, to help others
      understand and integrate with the service.
  - name: Suggested Resource Actions
    description: >
      Provides suggested actions to take on resources. Suggested actions are
      generated from suggestion rules.
  - name: Vulnerabilities
    description: |
      Retrieving, analyzing, and managing software vulnerabilities.
  - name: Catalog Service Custom Fields
    description: Manage custom fields for catalog services.
  - name: Catalog Service API Mappings
    description: >
      Service API mappings represent the link between Service and API entities.

      Once an API is mapped to a Service, a rich view of the linked APIs will be
      presented on the APIs tab of the Catalog Service.

      Similarly, Services mapped to an API will be listed on the API overview
      page under Catalog.

      An API may be mapped to multiple services, but it cannot be mapped to the
      same service twice.

      If a mapped API is unlinked from a Service, the mapping will be deleted.
  - name: Quotas
    description: >
      Organization quotas and system default quota definitions used for usage
      limits and governance in the Service Catalog.
  - name: Event Gateways
    description: >
      Create an Event Gateway Control Plane, used to store Event Gateway
      configuration
  - name: Event Gateway Backend Clusters
    description: >
      A backend cluster is an abstraction of a real Kafka cluster. It stores the
      connection and configuration details required for Kong Event Gateway to
      proxy traffic to Kafka.


      Multiple Kafka clusters can be proxied through a single Kong Event
      Gateway.
  - name: Event Gateway Virtual Clusters
    description: >
      Virtual clusters are the primary way clients interact with the Event
      Gateway proxy. They allow you to isolate clients from each other when
      connecting to the same backend cluster, and provide each client with
      modified view while still appearing as a standard Kafka cluster.
  - name: Event Gateway Listeners
    description: >
      A listener represents hostname-port or IP-port combinations that connect
      to TCP sockets. Listeners need at least as many ports as backend brokers
      if you use port mapping in a Forward to Virtual Cluster policy. For SNI
      routing, you can route all brokers using a listener with only one port.
      Ports can be expressed as a single port or range. Addresses can be IPv4,
      IPv6, or hostnames.


      A listener can have policies that enforce TLS certificates and perform SNI
      routing. The listener runs at Layer 4 of the network stack. In Kong Event
      Gateway, listeners first take in the connection and then route the TCP
      connection to a virtual cluster based on conditions defined in listener
      policies.
  - name: Event Gateway Listener Policies
    description: >
      Policies control how Kafka protocol traffic is modified between the client
      and the backend cluster.


      Listener policies are routing policies that pass traffic to the virtual
      cluster.
  - name: Event Gateway Virtual Cluster Policies
    description: >
      Policies control how Kafka protocol traffic is modified between the client
      and the backend cluster.


      Cluster policies are transformation and validation policies that can be
      applied to Kafka messages.
  - name: Event Gateway Virtual Cluster Produce Policies
    description: >
      Produce policies operate on Kafka messages before they are written to the
      Kafka cluster.


      Where possible, apply transformations to the data using produce policies
      rather than consume policies for maximum efficiency.
  - name: Event Gateway Virtual Cluster Consume Policies
    description: >
      Consume policies operate on Kafka messages as they are read from a Kafka
      cluster.


      Transformations may be applied at consume time, but they are applied once
      per Consumer. Where possible, transofmrations should be applied as a
      Produce policy
  - name: Event Gateway DataPlane Certificates
    description: >
      DataPlane certificates control how your running Event Gateway instances
      connect to the Control Plane
  - name: Event Gateway Static Keys
    description: >
      Static Keys are used by the Encrypt and Decrypt policies to encrypt data
      at rest
  - name: Event Gateway Schema Registries
    description: >
      Configure a schema registry that can be used to validate payloads when
      producing/consuming messages
  - name: Event Gateway TLS Trust Bundles
    description: >
      A TLS trust bundle defines a set of trusted certificate authorities (CAs)
      used for client certificate

      verification during mutual TLS (mTLS). Trust bundles are referenced by TLS
      listener policies to

      determine which client certificates are accepted.
  - name: Event Gateway Vaults
  - name: Event Gateway Vault Secrets
  - name: Event Gateway Nodes
  - name: OpenMeter Governance
    description: Governance evaluation of customers to check their feature access.
  - name: OpenMeter Defaults
    description: Organization-level default configuration.
  - name: OpenMeter Product Catalog
    description: >-
      Product catalog manages plans, add-ons, and their associations for
      subscription-based billing.
  - name: OpenMeter LLM Cost
    description: >-
      LLM cost database providing normalized pricing data for language models
      across providers. Prices are synced from multiple external sources and
      auto-confirmed when they agree.
  - name: OpenMeter Features
    description: >-
      Features represent product capabilities backed by meters, with optional
      per-unit cost configuration.
  - name: OpenMeter Tax
    description: Tax codes are used to calculate taxes for customers.
  - name: OpenMeter Currencies
    description: Currencies and cost bases for customers.
  - name: OpenMeter Billing Settings
    description: Billing settings manages the billing profiles and invoices for customers.
  - name: OpenMeter Apps
    description: >-
      Apps enable you to extend and customize billing and usage workflows by
      integrating with external systems and services. Apps can automate and
      enhance your billing ecosystem by supporting capabilities such as
      synchronizing usage data with third-party platforms, calculating taxes,
      generating and delivering invoices, handling payment collection, and other
      billing-related tasks.
  - name: OpenMeter Entitlements
    description: Entitlements are used to control access to features for customers.
  - name: OpenMeter Subscriptions
    description: >-
      Subscriptions are used to track usage of your product or service.
      Subscriptions can be individuals or organizations that can subscribe to
      plans and have access to features.
  - name: OpenMeter Customers
    description: >-
      Customers are used to track usage of your product or service. Customers
      can be individuals or organizations that can subscribe to plans and have
      access to features.
  - name: Metering Events
    description: >-
      Metering events are used to track usage of your product or service. Events
      are processed asynchronously by the meters, so they may not be immediately
      available for querying.
  - name: Meters
    description: >-
      Meters specify how to aggregate events for billing and analytics purposes.
      Meters can be configured with multiple aggregation methods and groupings.
      Multiple meters can be created for the same event type, enabling flexible
      metering scenarios.
  - name: MCP Servers
  - name: MCP Resource Contents
  - name: MCP Resource Mappings
  - name: Control Plane Mappings
  - name: MCP Server Runtime
  - name: AI Gateways
    description: API related to the management of Konnect AI Gateway resources.
  - name: AI Gateway DataPlane Certificates
    description: API related to the management of AI Gateway DataPlane Certificates.
  - name: AI Gateway Nodes
    description: API related to the management of AI Gateway nodes.
  - name: AI Gateway Vaults
    description: API related to the management of AI Gateway vaults for storing secrets.
  - name: AI Gateway Agents
    description: AI Agents registered with the AI Gateway.
  - name: AI Gateway Consumers
    description: >-
      Individual consumers with credentials and group memberships for AI Gateway
      access control.
  - name: AI Gateway Consumer Groups
    description: >-
      Consumer groups for applying rate-limiting and access policies to AI
      Gateway traffic.
  - name: AI Gateway Models
    description: >-
      Models that define routing, capabilities, and backend targets for the AI
      Gateway.
  - name: AI Gateway Policies
    description: >-
      Policies that control security, rate-limiting, and guardrail behavior for
      the AI Gateway.
  - name: AI Gateway MCP Servers
    description: MCP Servers that expose tools for AI Gateway integrations.
  - name: AI Gateway Providers
    description: >-
      Providers that define the backend AI service connections for the AI
      Gateway.
  - name: AI Gateway Debug
    description: AI Gateway debug endpoints.
  - name: Dashboards
  - description: DP Nodes
    name: DP Nodes
  - description: DP Certificates
    name: DP Certificates
  - description: Custom Plugin Schemas
    name: Custom Plugin Schemas
  - description: Config Stores
    name: Config Stores
  - description: Config Store Secrets
    name: Config Store Secrets
  - description: Debug Sessions
    name: Debug Sessions
  - name: ACLs
  - name: API-keys
  - name: Basic-auth credentials
  - description: >-
      A CA certificate object represents a trusted certificate authority.

      These objects are used by Kong Gateway to verify the validity of a client
      or server certificate.
    name: CA Certificates
  - description: >
      A certificate object represents a public certificate, and can be
      optionally paired with the corresponding private key. These objects are
      used by Kong Gateway to handle SSL/TLS termination for encrypted requests,
      or for use as a trusted CA store when validating peer certificate of
      client/service.

      <br><br>

      Certificates are optionally associated with SNI objects to tie a cert/key
      pair to one or more hostnames.

      <br><br>

      If intermediate certificates are required in addition to the main
      certificate, they should be concatenated together into one string.
    name: Certificates
  - description: >-
      Consumer groups enable the organization and categorization of consumers
      (users or applications) within an API ecosystem.

      By grouping consumers together, you eliminate the need to manage them
      individually, providing a scalable, efficient approach to managing
      configurations.
    name: Consumer Groups
  - description: >
      The consumer object represents a consumer - or a user - of a service.

      You can either rely on Kong Gateway as the primary datastore, or you can
      map the consumer list with your database to keep consistency between Kong
      Gateway and your existing primary datastore.
    name: Consumers
  - name: CustomPlugins
  - name: Degraphql_routes
  - name: GraphQL Cost Decorations
  - name: HMAC-auth credentials
  - name: JWTs
  - description: >
      A JSON Web key set. Key sets are the preferred way to expose keys to
      plugins because they tell the plugin where to look for keys or have a
      scoping mechanism to restrict plugins to specific keys.
    name: KeySets
  - description: >
      A key object holds a representation of asymmetric keys in various formats.
      When Kong Gateway or a Kong plugin requires a specific public or private
      key to perform certain operations, it can use this entity.
    name: Keys
  - name: MTLS-auth credentials
  - name: Partial Links
  - description: >-
      Some entities in Kong Gateway share common configuration settings that
      often need to be repeated. For example, multiple plugins that connect to
      Redis may require the same connection settings. Without Partials, you
      would need to replicate this configuration across all plugins. If the
      settings change, you would need to update each plugin individually.
    name: Partials
  - description: >-
      A plugin entity represents a plugin configuration that will be executed
      during the HTTP request/response lifecycle. Plugins let you add
      functionality to services that run behind a Kong Gateway instance, like
      authentication or rate limiting.

      You can find more information about available plugins and which values
      each plugin accepts at the [Plugin
      Hub](https://developer.konghq.com/plugins/).

      <br><br>

      When adding a plugin configuration to a service, the plugin will run on
      every request made by a client to that service. If a plugin needs to be
      tuned to different values for some specific consumers, you can do so by
      creating a separate plugin instance that specifies both the service and
      the consumer, through the service and consumer fields.
    name: Plugins
  - description: >
      Route entities define rules to match client requests. Each route is
      associated with a service, and a service may have multiple routes
      associated to it. Every request matching a given route will be proxied to
      the associated service. You need at least one matching rule that applies
      to the protocol being matched by the route.

      <br><br>

      The combination of routes and services, and the separation of concerns
      between them, offers a powerful routing mechanism with which it is
      possible to define fine-grained entrypoints in Kong Gateway leading to
      different upstream services of your infrastructure.

      <br><br>

      Depending on the protocol, one of the following attributes must be set:

      <br>


      - `http`: At least one of `methods`, `hosts`, `headers`, or `paths`

      - `https`: At least one of `methods`, `hosts`, `headers`, `paths`, or
      `snis`

      - `tcp`: At least one of `sources` or `destinations`

      - `tls`: at least one of `sources`, `destinations`, or `snis`

      - `tls_passthrough`: set `snis`

      - `grpc`: At least one of `hosts`, `headers`, or `paths`

      - `grpcs`: At least one of `hosts`, `headers`, `paths`, or `snis`

      - `ws`: At least one of `hosts`, `headers`, or `paths`

      - `wss`: At least one of `hosts`, `headers`, `paths`, or `snis`
        <br>
        A route can't have both `tls` and `tls_passthrough` protocols at same time.
        <br><br>
        Learn more about the router:
      - [Configure routes using
      expressions](https://developer.konghq.com/gateway/routing/expressions/)
    name: Routes
  - description: >-
      An SNI object represents a many-to-one mapping of hostnames to a
      certificate.

      <br><br>

      A certificate object can have many hostnames associated with it. When Kong
      Gateway receives an SSL request, it uses the SNI field in the Client Hello
      to look up the certificate object based on the SNI associated with the
      certificate.
    name: SNIs
  - name: Schemas
  - description: >
      Service entities are abstractions of your microservice interfaces or
      formal APIs. For example, a service could be a data transformation
      microservice or a billing API.

      <br><br>

      The main attribute of a service is the destination URL for proxying
      traffic. This URL can be set as a single string or by specifying its
      protocol, host, port and path individually.

      <br><br>

      Services are associated to routes, and a single service can have many
      routes associated with it. Routes are entrypoints in Kong Gateway which
      define rules to match client requests. Once a route is matched, Kong
      Gateway proxies the request to its associated service. See the [Route
      documentation](https://developer.konghq.com/gateway/entities/route/) for a
      detailed explanation of how Kong proxies traffic.

      <br><br>

      Services can be both [tagged and filtered by
      tags](https://developer.konghq.com/admin-api/).
    name: Services
  - description: >
      A target is an IP address or hostname with a port that identifies an
      instance of a backend service. Every upstream can have many targets, and
      the targets can be dynamically added, modified, or deleted. Changes take
      effect on the fly.

      <br><br>

      To disable a target, post a new one with `weight=0`, or use the `DELETE`
      method to accomplish the same.
    name: Targets
  - description: >-
      The upstream object represents a virtual hostname and can be used to load
      balance incoming requests over multiple services (targets).

      <br><br>

      An upstream also includes a [health
      checker](https://developer.konghq.com/gateway/traffic-control/health-checks-circuit-breakers/),
      which can enable and disable targets based on their ability or inability
      to serve requests.

      The configuration for the health checker is stored in the upstream object,
      and applies to all of its targets.
    name: Upstreams
  - description: >
      Vault objects are used to configure different vault connectors for
      [managing
      secrets](https://developer.konghq.com/gateway/secrets-management/).

      Configuring a vault lets you reference secrets from other entities.

      This allows for a proper separation of secrets and configuration and
      prevents secret sprawl.

      <br><br>

      For example, you could store a certificate and a key in a vault, then
      reference them from a certificate entity. This way, the certificate and
      key are not stored in the entity directly and are more secure.

      <br><br>

      Secrets rotation can be managed using
      [TTLs](https://developer.konghq.com/gateway/entities/vault/).
    name: Vaults
paths:
  /v2/control-planes:
    get:
      x-speakeasy-entity-operation:
        terraform-resource: null
        terraform-datasource:
          - GatewayControlPlaneList#read
      x-speakeasy-pagination:
        type: offsetLimit
        inputs:
          - name: page[number]
            in: parameters
            type: page
          - name: page[size]
            in: parameters
            type: limit
        outputs:
          results: $.data
          numPages: $.meta.page.total
      summary: List Control Planes
      responses:
        '200':
          $ref: '#/components/responses/ListControlPlanesResponse'
        '400':
          $ref: '#/components/responses/ControlPlanesBadRequest'
        '401':
          $ref: '#/components/responses/ControlPlaneUnauthenticated'
        '403':
          $ref: '#/components/responses/ControlPlanePermissionDenied'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: list-control-planes
      description: >-
        Returns an array of control plane objects containing information about
        the Konnect Control Planes.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ControlPlaneFilter'
        - $ref: '#/components/parameters/FilterByLabels'
        - $ref: '#/components/parameters/ControlPlaneSort'
      tags:
        - Control Planes
    parameters: []
    post:
      x-speakeasy-entity-operation:
        terraform-resource: GatewayControlPlane#create
        terraform-datasource: null
      summary: Create Control Plane
      operationId: create-control-plane
      responses:
        '201':
          $ref: '#/components/responses/CreateControlPlaneResponse'
        '400':
          $ref: '#/components/responses/ControlPlanesBadRequest'
        '401':
          $ref: '#/components/responses/ControlPlaneUnauthenticated'
        '403':
          $ref: '#/components/responses/ControlPlanePermissionDenied'
        '409':
          $ref: '#/components/responses/ControlPlaneConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - Control Planes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateControlPlaneRequest'
      description: Create a control plane in the Konnect Organization.
  /v2/control-planes/{controlPlaneId}:
    parameters:
      - schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        name: controlPlaneId
        in: path
        required: true
        description: The control plane ID
    get:
      x-speakeasy-entity-operation:
        terraform-resource: GatewayControlPlane#read
        terraform-datasource: null
      summary: Get a Control Plane
      responses:
        '200':
          $ref: '#/components/responses/RetrieveControlPlaneResponse'
        '400':
          $ref: '#/components/responses/ControlPlanesBadRequest'
        '401':
          $ref: '#/components/responses/ControlPlaneUnauthenticated'
        '403':
          $ref: '#/components/responses/ControlPlanePermissionDenied'
        '404':
          $ref: '#/components/responses/ControlPlaneNotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: get-control-plane
      description: Returns information about an individual control plane.
      tags:
        - Control Planes
    patch:
      x-speakeasy-entity-operation:
        terraform-resource: GatewayControlPlane#update
        terraform-datasource: null
      summary: Update Control Plane
      operationId: update-control-plane
      responses:
        '200':
          $ref: '#/components/responses/UpdateControlPlaneResponse'
        '400':
          $ref: '#/components/responses/ControlPlanesBadRequest'
        '401':
          $ref: '#/components/responses/ControlPlaneUnauthenticated'
        '403':
          $ref: '#/components/responses/ControlPlanePermissionDenied'
        '404':
          $ref: '#/components/responses/ControlPlaneNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Update an individual control plane.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateControlPlaneRequest'
      tags:
        - Control Planes
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: GatewayControlPlane#delete
        terraform-datasource: null
      summary: Delete Control Plane
      operationId: delete-control-plane
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/ControlPlanesBadRequest'
        '401':
          $ref: '#/components/responses/ControlPlaneUnauthenticated'
        '403':
          $ref: '#/components/responses/ControlPlanePermissionDenied'
        '404':
          $ref: '#/components/responses/ControlPlaneNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Delete an individual control plane.
      tags:
        - Control Planes
  /v2/control-planes/{controlPlaneId}/group-memberships:
    parameters:
      - schema:
          type: string
        name: controlPlaneId
        in: path
        required: true
        description: ID of a control plane group
    get:
      summary: List Control Plane Group Memberships
      tags:
        - Control Plane Groups
      responses:
        '200':
          $ref: '#/components/responses/ListGroupMemberships'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: get-control-planes-id-group-memberships
      description: >-
        Returns an array of control planes that are a member of this control
        plane group.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
    put:
      x-terraform-excluded: We use the /add and /remove endpoints instead
      summary: Upsert Control Plane Group Members
      operationId: put-control-planes-id-group-memberships
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      requestBody:
        $ref: '#/components/requestBodies/GroupMembershipUpsert'
      tags:
        - Control Plane Groups
      description: Adds one or more control planes as a member of a control plane group.
  /v2/control-planes/{controlPlaneId}/group-memberships/add:
    parameters:
      - schema:
          type: string
        name: controlPlaneId
        in: path
        required: true
        description: ID of a control plane group
    post:
      x-speakeasy-entity-operation:
        terraform-resource: GatewayControlPlaneMembership#create
        terraform-datasource: null
      summary: Add Control Plane Group Members
      operationId: post-control-planes-id-group-memberships-add
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      requestBody:
        $ref: '#/components/requestBodies/GroupMembershipAdd'
      tags:
        - Control Plane Groups
      description: Adds one or more control planes as a member of a control plane group.
  /v2/control-planes/{controlPlaneId}/group-memberships/remove:
    parameters:
      - schema:
          type: string
        name: controlPlaneId
        in: path
        required: true
        description: ID of a control plane group
    post:
      x-speakeasy-entity-operation:
        terraform-resource: GatewayControlPlaneMembership#delete
        terraform-datasource: null
      summary: Remove Control Plane Group Members
      operationId: post-control-planes-id-group-memberships-remove
      requestBody:
        $ref: '#/components/requestBodies/GroupMembershipRemove'
      tags:
        - Control Plane Groups
      description: >-
        Removes one or more control planes from the members of a control plane
        group.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v2/control-planes/{controlPlaneId}/group-member-status:
    parameters:
      - schema:
          type: string
        name: controlPlaneId
        in: path
        required: true
        description: ID of a control plane
    get:
      summary: Get Control Plane Group Member Status
      operationId: get-control-planes-id-group-member-status
      tags:
        - Control Plane Groups
      description: Determines the group membership status of a control plane.
      responses:
        '200':
          $ref: '#/components/responses/GetGroupMemberStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v2/control-planes/{controlPlaneId}/group-status:
    parameters:
      - schema:
          type: string
        name: controlPlaneId
        in: path
        required: true
        description: ID of a control plane group
    get:
      summary: Get Control Plane Group Status
      tags:
        - Control Plane Groups
      responses:
        '200':
          $ref: '#/components/responses/GetGroupStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: get-control-planes-id-group-status
      description: >-
        Returns the status of a control plane group, including existing
        conflicts.
  /v2/control-planes/{controlPlaneId}/group-settings:
    parameters:
      - x-speakeasy-param-force-new: true
        schema:
          type: string
        name: controlPlaneId
        in: path
        required: true
        description: ID of a control plane group
    get:
      x-internal: true
      x-unstable: true
      summary: Get Control Plane Group Settings
      tags:
        - Control Plane Groups
      responses:
        '200':
          $ref: '#/components/responses/GroupSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: get-control-plane-group-settings
      description: Returns the settings of a control plane group.
    put:
      x-internal: true
      x-unstable: true
      summary: Upsert Control Plane Group Settings
      operationId: put-control-plane-group-settings
      responses:
        '200':
          $ref: '#/components/responses/GroupSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      requestBody:
        $ref: '#/components/requestBodies/GroupSettingsUpsert'
      tags:
        - Control Plane Groups
      description: >-
        Updates the settings of a control plane group. If the settings do not
        exist, they will be created.
  /v2/control-planes/{controlPlaneId}/settings:
    parameters:
      - x-speakeasy-param-force-new: true
        schema:
          type: string
        name: controlPlaneId
        in: path
        required: true
        description: ID of a control plane
    get:
      x-internal: true
      x-unstable: true
      summary: Get Control Plane Settings
      tags:
        - Control Planes
      responses:
        '200':
          $ref: '#/components/responses/SettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: get-control-plane-settings
      description: Returns the settings of a control plane.
    put:
      x-internal: true
      x-unstable: true
      summary: Upsert Control Plane Settings
      operationId: put-control-plane-settings
      responses:
        '200':
          $ref: '#/components/responses/SettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      requestBody:
        $ref: '#/components/requestBodies/SettingsUpsert'
      tags:
        - Control Planes
      description: >-
        Updates the settings of a control plane. If the settings do not exist,
        they will be created.
  /v2/control-planes/default-resource-quotas:
    get:
      summary: List Default Quotas
      description: >
        Returns a paginated collection of default resource quotas for control
        planes, along with

        organizationally-defined overrides for those resource quotas.
      operationId: list-control-plane-default-resource-quotas
      x-internal: true
      responses:
        '200':
          $ref: '#/components/responses/ListControlPlaneDefaultResourceQuotasResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Control Plane Resource Quotas
  /v2/control-planes/resource-quotas:
    get:
      summary: List Quota Overrides
      description: >
        Returns a list of control plane quota override values created by the
        user.
      operationId: list-control-plane-resource-quota
      x-internal: true
      responses:
        '200':
          $ref: '#/components/responses/ListControlPlaneResourceQuotasResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Control Plane Resource Quotas
    post:
      summary: Create a control plane resource quota
      description: >
        Creates a control plane resource quota scoped to a given resource, for
        an organization.
      operationId: create-control-plane-resource-quota
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/CreateControlPlaneResourceQuotaRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateControlPlaneResourceQuotaResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Control Plane Resource Quotas
  /v2/control-planes/resource-quotas/{resourceQuotaId}:
    parameters:
      - $ref: '#/components/parameters/ResourceQuotaID'
    get:
      summary: Get Control Plane Resource Quota
      description: |
        Returns the control plane resource quota for the ID.
      operationId: get-control-plane-resource-quota
      x-internal: true
      responses:
        '200':
          $ref: '#/components/responses/GetControlPlaneResourceQuotaResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Control Plane Resource Quotas
    patch:
      summary: Update Resource Quota
      description: Update the control plane resource quota for the corresponding ID.
      operationId: update-control-plane-resource-quota
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/UpdateControlPlaneResourceQuotaRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateControlPlaneResourceQuotaResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Control Plane Resource Quotas
    delete:
      summary: Delete the control plane resource quota
      description: >
        Deletes the created control plane resource quota which matches the ID
        provided.
      operationId: delete-control-plane-resource-quota
      x-internal: true
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Control Plane Resource Quotas
  /v2/control-planes/features/{featureName}:
    parameters:
      - $ref: '#/components/parameters/FeatureName'
    get:
      summary: Get Feature Configuration
      description: |
        Returns the feature configuration of an organization.
      operationId: get-organization-feature
      x-internal: true
      x-unstable: true
      responses:
        '200':
          $ref: '#/components/responses/OrganizationFeatureResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Organization Feature
    put:
      summary: Upsert Feature Configuration
      operationId: upsert-organization-feature
      x-internal: true
      x-unstable: true
      requestBody:
        $ref: '#/components/requestBodies/UpsertOrganizationFeatureRequest'
      responses:
        '200':
          $ref: '#/components/responses/OrganizationFeatureResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Organization Feature
  /v2/control-planes/{controlPlaneId}/ai-manager/virtual-keys:
    parameters:
      - name: controlPlaneId
        schema:
          type: string
          format: uuid
        in: path
        required: true
        description: ID of a control plane
    get:
      summary: Get Control Plane Virtual Keys
      x-internal: true
      x-unstable: true
      operationId: list-virtual-keys
      description: Returns the Virtual Keys defined on a control plane.
      tags:
        - AI Manager
      parameters:
        - name: filter[acl_group][eq]
          description: The ACL group name to filter
          in: query
          schema:
            type: string
          required: false
        - name: filter[consumer][contains]
          description: The consumer name to filter
          in: query
          schema:
            type: string
          required: false
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/AIManagerVirtualKeysResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v2/control-planes/{controlPlaneId}/core-entities/workspaces:
    parameters:
      - name: controlPlaneId
        schema:
          type: string
          format: uuid
        in: path
        required: true
        description: ID of a control plane
    get:
      description: List all Workspaces
      x-internal: true
      x-unstable: true
      operationId: list-workspaces
      parameters:
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/FilterByNameContains'
        - $ref: '#/components/parameters/FilterByNameEquality'
      responses:
        '200':
          $ref: '#/components/responses/ListWorkspacesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      summary: List all Workspaces
      tags:
        - Workspaces
    post:
      summary: Create a Workspace
      operationId: create-workspace
      x-internal: true
      x-unstable: true
      responses:
        '201':
          $ref: '#/components/responses/CreateWorkspaceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '501':
          $ref: '#/components/responses/NotImplemented'
      tags:
        - Workspaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkspaceRequest'
  /v2/control-planes/{controlPlaneId}/core-entities/workspaces/{workspaceIdOrName}:
    parameters:
      - name: controlPlaneId
        schema:
          type: string
          format: uuid
        in: path
        required: true
        description: ID of a control plane
      - name: workspaceIdOrName
        in: path
        required: true
        schema:
          type: string
          example: 2747d1e5-8246-4f65-a939-b392f1ee17f8
        description: ID or name of the workspace to retreive
    get:
      summary: Get a Workspace
      description: Get a Workspace using ID or name.
      operationId: get-workspace
      x-internal: true
      x-unstable: true
      responses:
        '200':
          $ref: '#/components/responses/RetrieveWorkspaceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - Workspaces
    delete:
      description: Delete an individual workspace.
      operationId: delete-workspace
      x-internal: true
      x-unstable: true
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      summary: Delete a Workspace
      tags:
        - Workspaces
    put:
      description: Create or Update Workspace using ID or name.
      operationId: upsert-workspace
      x-internal: true
      x-unstable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        description: Description of the Workspace
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: Successfully upserted Workspace
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      summary: Upsert a Workspace
      tags:
        - Workspaces
  /v3/internal/auth0/register:
    post:
      operationId: post-auth0-register-internal
      summary: Create Organization (Internal)
      description: >-
        Create a new organization with Auth0 authentication. The Auth0 user will
        be the organization owner.
      responses:
        '201':
          $ref: '#/components/responses/Auth0Registration'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      requestBody:
        $ref: '#/components/requestBodies/Auth0Registration'
      tags:
        - SSO Auth0
      x-internal: true
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/internal/auth0/organizations:
    get:
      operationId: get-auth0-organizations-internal
      x-internal: true
      summary: List Organizations (Internal)
      description: Retrieves the list of organizations available to the given user.
      responses:
        '200':
          $ref: '#/components/responses/Auth0OrganizationsCollection'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      tags:
        - SSO Auth0
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/internal/auth0/users/mfa-settings:
    post:
      operationId: post-auth0-user-mfa-settings-internal
      x-internal: true
      x-unstable: true
      summary: Get Auth0 User MFA Settings (Internal)
      description: >-
        Returns whether Multi-Factor Authentication (MFA) is enabled for an
        Auth0 user. A user's MFA status is determined from their Konnect
        organization's settings. If the user is associated with multiple
        organizations, MFA is considered enabled if any of their organizations
        have MFA enabled. Although a user is generally uniquely identified by
        their email address, this endpoint requires the user's Auth0 ID to
        manage cases where the user logs in with multiple authentication
        providers but chooses not to link their accounts (in which case a single
        email address may correspond to multiple Auth0 user IDs).

        Note: The email address is not a part of the URL path to avoid PII data
        in request logs/traces.
      requestBody:
        $ref: '#/components/requestBodies/GetMFASettingsRequest'
      responses:
        '200':
          $ref: '#/components/responses/GetMFASettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/responses-Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Auth0
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/internal/users:
    get:
      operationId: get-users-internal
      x-internal: true
      summary: List Users (Internal)
      description: >-
        The response contains user ids and (non-deleted, non-deleting)
        organization ids for users associated with provided auth0 user subject.
      parameters:
        - name: aid
          in: query
          schema:
            type: string
          description: Auth0 User ID
      responses:
        '200':
          $ref: '#/components/responses/InternalUsers'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
      tags:
        - Users
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/internal/oauth/device/authorize:
    post:
      operationId: post-oauth-device-authorize
      x-internal: true
      summary: Device authorization request
      description: >-
        Initiates a device authorization workflow, generating and returning a
        unique device verification code.

        See https://www.rfc-editor.org/rfc/rfc8628#section-3.1 for details.
      requestBody:
        description: The request schema for the device authorization request.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  description: The client identifier.
                scope:
                  type: string
                  description: The scope of the access request.
              required:
                - client_id
      responses:
        '200':
          $ref: '#/components/responses/DeviceAuthorizationResponse'
        '400':
          $ref: '#/components/responses/DeviceAuthorizationGrantAuthorizeBadRequest'
      security:
        - {}
      tags:
        - Device Authorization Grant
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/internal/oauth/device/token:
    post:
      operationId: post-oauth-device-token
      x-internal: true
      summary: Device access token request
      description: >-
        This endpoint provides the machine client a means of being notified when
        a request for authorization is granted or rejected.

        It is expected for the client to try the access token request repeatedly
        in a polling fashion based on the error code in the response.

        See https://www.rfc-editor.org/rfc/rfc8628#section-3.4 for details.
      requestBody:
        description: The request schema for the device access token request.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  description: >-
                    Value MUST be set to
                    "urn:ietf:params:oauth:grant-type:device_code".
                device_code:
                  type: string
                  description: >-
                    The device verification code, "device_code" from the device
                    authorization response.
                client_id:
                  type: string
                  description: The client identifier.
              required:
                - grant_type
                - device_code
                - client_id
      responses:
        '200':
          $ref: '#/components/responses/DeviceAccessTokenResponse'
        '400':
          $ref: '#/components/responses/DeviceAuthorizationGrantTokenBadRequest'
      security:
        - {}
      tags:
        - Device Authorization Grant
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/internal/oauth/device/authorize/user:
    post:
      operationId: post-oauth-device-authorize-user
      x-internal: true
      summary: User device authorization request
      description: >-
        Marks the device code as authorized and is a means to provide the
        interactive UI flow with the necessary request metadata for the user to
        confirm the request.
      requestBody:
        $ref: '#/components/requestBodies/DeviceAuthorizationUserRequest'
      responses:
        '201':
          $ref: '#/components/responses/DeviceAuthorizationUserResponse'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
      security:
        - konnectAccessToken: []
      tags:
        - Device Authorization Grant
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/internal/oauth/device/confirm:
    patch:
      operationId: patch-oauth-device-confirm
      x-internal: true
      summary: Device confirmation request
      description: >-
        Confirms the authorization request by marking the device code as
        confirmed.
      requestBody:
        $ref: '#/components/requestBodies/DeviceConfirmationRequest'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
      security:
        - konnectAccessToken: []
      tags:
        - Device Authorization Grant
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/organizations/impersonation:
    get:
      summary: Get Impersonation Settings
      description: >-
        Returns Impersonation Settings, which determines if user impersonation
        is allowed for an organization.
      operationId: get-impersonation-settings
      tags:
        - Impersonation Settings
      responses:
        '200':
          $ref: '#/components/responses/GetImpersonationSettingsResponse'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    patch:
      summary: Update Impersonation Settings
      description: Updates Impersonation Settings.
      operationId: update-impersonation-settings
      requestBody:
        $ref: '#/components/requestBodies/UpdateImpersonationSettingsRequest'
      tags:
        - Impersonation Settings
      responses:
        '200':
          $ref: '#/components/responses/UpdateImpersonationSettingsResponse'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/authentication-settings:
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AuthenticationSettings#read
        terraform-datasource: null
      summary: Get Auth Settings
      description: >-
        Returns authentication configuration, which determines how users can log
        in and how they are assigned to teams.
      operationId: get-authentication-settings
      tags:
        - Auth Settings
      responses:
        '200':
          $ref: '#/components/responses/AuthenticationSettings'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    patch:
      x-speakeasy-entity-operation: AuthenticationSettings#create,update
      summary: Update Auth Settings
      description: Updates authentication configuration.
      operationId: update-authentication-settings
      requestBody:
        $ref: '#/components/requestBodies/UpdateAuthenticationSettings'
      tags:
        - Auth Settings
      responses:
        '200':
          $ref: '#/components/responses/AuthenticationSettings'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/invites:
    post:
      x-rpc-endpoint: true
      summary: Invite User
      description: >-
        Sends an invitation email to invite a user to the Konnect organization.
        The email contains a link with a one time token to accept the
        invitation. Upon accepting the invitation, the user is directed to
        https://cloud.konghq.com/login to complete registration.
      operationId: invite-user
      requestBody:
        $ref: '#/components/requestBodies/InviteUser'
      responses:
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '409':
          $ref: '#/components/responses/IdentityConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
      tags:
        - Invites
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/identity-providers:
    get:
      summary: List Identity Providers
      description: >
        Retrieves the identity providers available within the organization. This
        operation provides information about

        various identity providers for SAML or OIDC authentication integrations.
      operationId: get-identity-providers
      parameters:
        - schema:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/StringFieldEqualsFilter'
          in: query
          name: filter
          description: Filter identity providers returned in the response.
          required: false
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/IdentityProviders'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
      tags:
        - Auth Settings
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    post:
      x-speakeasy-entity-operation: IdentityProvider#create
      summary: Create Identity Provider
      description: >
        Creates a new identity provider. This operation allows the creation of a
        new identity provider for

        authentication purposes.
      operationId: create-identity-provider
      requestBody:
        $ref: '#/components/requestBodies/CreateIdentityProviderRequest'
      responses:
        '201':
          $ref: '#/components/responses/IdentityProvider'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/CreateIdentityProviderPermissionDenied'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Auth Settings
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/identity-providers/{id}:
    parameters:
      - schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        name: id
        in: path
        required: true
        description: ID of the identity provider.
    get:
      x-speakeasy-entity-operation:
        terraform-resource: IdentityProvider#read
        terraform-datasource: null
      summary: Get Identity Provider
      description: >
        Retrieves the configuration of a single identity provider. This
        operation returns information about a

        specific identity provider's settings and authentication integration
        details.
      operationId: get-identity-provider
      responses:
        '200':
          $ref: '#/components/responses/IdentityProvider'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      tags:
        - Auth Settings
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    patch:
      x-speakeasy-entity-operation: IdentityProvider#update
      summary: Update Identity Provider
      description: >
        Updates the configuration of an existing identity provider. This
        operation allows modifications to be made

        to an existing identity provider's configuration.
      operationId: update-identity-provider
      requestBody:
        $ref: '#/components/requestBodies/UpdateIdentityProviderRequest'
      responses:
        '200':
          $ref: '#/components/responses/IdentityProvider'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Auth Settings
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    delete:
      x-speakeasy-entity-operation: IdentityProvider#delete
      summary: Delete Identity Provider
      description: >
        Deletes an existing identity provider configuration. This operation
        removes a specific identity provider

        from the organization.
      operationId: delete-identity-provider
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      tags:
        - Auth Settings
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/identity-providers/{idpId}/team-group-mappings:
    parameters:
      - schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        name: idpId
        in: path
        required: true
        description: ID of the identity provider.
    get:
      operationId: list-idp-team-group-mappings
      summary: List Team Group Mappings
      description: >
        Returns a paginated list of team group mappings for the specified
        identity provider.

        Mappings define the relationship between identity provider groups and
        Konnect teams.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/PageBefore'
        - name: filter
          in: query
          required: false
          style: deepObject
          schema:
            type: object
            properties:
              team_id:
                $ref: '#/components/schemas/StringFieldEqualsFilter'
              group:
                $ref: '#/components/schemas/StringFieldEqualsFilter'
          description: Filter mappings by team ID or group name.
      responses:
        '200':
          $ref: '#/components/responses/IdpTeamGroupMappingsCollection'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      tags:
        - Auth Settings
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    post:
      x-speakeasy-entity-operation:
        terraform-resource: IdentityProviderTeamGroupMapping#create
        terraform-datasource: null
      operationId: create-idp-team-group-mapping
      summary: Create Team Group Mapping
      description: |
        Creates a new team group mapping for the specified identity provider.
        A mapping associates an identity provider group with a Konnect team.
      requestBody:
        $ref: '#/components/requestBodies/CreateIdpTeamGroupMappingRequest'
      responses:
        '201':
          $ref: '#/components/responses/IdpTeamGroupMapping'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Auth Settings
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/identity-providers/{idpId}/team-group-mappings/{id}:
    parameters:
      - schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        name: idpId
        in: path
        required: true
        description: ID of the identity provider.
      - schema:
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        name: id
        in: path
        required: true
        description: ID of the team group mapping.
    get:
      x-speakeasy-entity-operation:
        terraform-resource: IdentityProviderTeamGroupMapping#read
        terraform-datasource: null
      operationId: get-idp-team-group-mapping
      summary: Get Team Group Mapping
      description: Returns the team group mapping for the specified ID.
      responses:
        '200':
          $ref: '#/components/responses/IdpTeamGroupMapping'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      tags:
        - Auth Settings
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: IdentityProviderTeamGroupMapping#delete
        terraform-datasource: null
      operationId: delete-idp-team-group-mapping
      summary: Delete Team Group Mapping
      description: >
        Deletes a team group mapping by ID.

        Returns 204 if the mapping was deleted, or 404 if the mapping was not
        found.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      tags:
        - Auth Settings
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/identity-provider:
    get:
      summary: Get the IdP Configuration
      operationId: get-idp-configuration
      responses:
        '200':
          $ref: '#/components/responses/IdPConfiguration'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      tags:
        - Auth Settings
      description: Fetch the IdP configuration.
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    parameters: []
    patch:
      summary: Update IdP Configuration
      operationId: update-idp-configuration
      responses:
        '200':
          $ref: '#/components/responses/IdPConfiguration'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
      description: Update the IdP configuration.
      requestBody:
        $ref: '#/components/requestBodies/UpdateIdPConfiguration'
      tags:
        - Auth Settings
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/identity-provider/team-mappings:
    put:
      x-terraform-excluded: Waiting for an API update (FY26Q4)
      summary: Update Team Mappings
      operationId: update-idp-team-mappings
      responses:
        '200':
          $ref: '#/components/responses/TeamMappingCollection'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityPermissionDenied'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
      tags:
        - Auth Settings
      description: Updates the IdP group to Konnect team mapping.
      requestBody:
        $ref: '#/components/requestBodies/UpdateTeamMappings'
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    get:
      summary: Get a Team Mapping
      operationId: get-idp-team-mappings
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/TeamMappingResponse'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
      tags:
        - Auth Settings
      description: Fetch the IdP group to Konnect team mapping.
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/identity-provider/team-group-mappings:
    get:
      summary: Get a Team Group Mappings
      operationId: get-team-group-mappings
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/TeamGroupMappingCollection'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
      tags:
        - Auth Settings
      description: >-
        Retrieves the mappings between Konnect Teams and Identity Provider
        Groups.

        Returns a 400 error if an Identity Provider has not yet been configured.
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    patch:
      summary: Patch Mappings by Team ID
      operationId: patch-team-group-mappings
      responses:
        '200':
          $ref: '#/components/responses/TeamGroupMappingCollection'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
      tags:
        - Auth Settings
      description: >-
        Allows partial updates to the mappings between Konnect Teams and
        Identity Provider Groups.

        The request body must be keyed on team ID. For a given team ID, the
        given group list is a

        complete replacement. To remove all mappings for a given team, provide
        an empty group list.


        Returns a 400 error if an Identity Provider has not yet been configured,
        or if a team ID in

        the request body is not found or is not a UUID.
      requestBody:
        $ref: '#/components/requestBodies/PatchTeamGroupMappings'
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/roles:
    get:
      summary: Get Predefined Roles
      description: Retrieves the predefined, or system managed, roles.
      operationId: get-predefined-roles
      parameters:
        - schema:
            type: object
            properties:
              sub_types:
                description: 'Filter using **one** of the following operators: `eq`, `oeq`'
                properties:
                  eq:
                    type: string
                    description: The field exactly matches the provided value.
                  oeq:
                    type: string
                    description: The field matches any of the provided values.
                type: object
                additionalProperties: false
          in: query
          name: filter
          description: Filter roles returned in the response.
          required: false
          style: deepObject
          explode: true
          x-internal: true
          x-unstable: true
      responses:
        '200':
          $ref: '#/components/responses/Roles'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
      tags:
        - Roles
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/teams:
    get:
      x-speakeasy-entity-operation:
        terraform-datasource:
          - Team#read
          - TeamList#read
      x-speakeasy-pagination:
        type: offsetLimit
        inputs:
          - name: page[number]
            in: parameters
            type: page
          - name: page[size]
            in: parameters
            type: limit
        outputs:
          results: $.data
          numPages: $.meta.page.total
      summary: List Teams
      responses:
        '200':
          $ref: '#/components/responses/TeamCollection'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      operationId: list-teams
      description: >-
        Returns an array of team objects containing information about the
        Konnect Teams.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - schema:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/LegacyStringFieldFilter'
          in: query
          name: filter
          description: Filter teams returned in the response.
          required: false
          style: deepObject
      tags:
        - Teams
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
    post:
      x-speakeasy-entity-operation:
        terraform-resource: Team#create
        terraform-datasource: null
      summary: Create Team
      operationId: create-team
      responses:
        '201':
          $ref: '#/components/responses/TeamSingle'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '403':
          $ref: '#/components/responses/IdentityPermissionDenied'
      tags:
        - Teams
      requestBody:
        $ref: '#/components/requestBodies/CreateTeam'
      description: 'Creates a team in the Konnect Organization. '
      servers:
        - url: https://global.api.konghq.com/
      x-servers-added: true
  /v3/teams/{teamId}/users:
    parameters:
      - schema:
          type: string
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
          format: uuid
        name: teamId
        in: path
        required: true
        description: ID of the team.
    get:
      summary: List Team Users
      responses:
        '200':
          $ref: '#/components/responses/UserCollection'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      operationId: list-team-users
      description: >-
        Returns a paginated list of users that belong to the team specified in
        the path parameter.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - schema:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/StringFieldEqualsFilter'
              email:
                $ref: '#/components/schemas/LegacyStringFieldFilter'
              full_name:
                $ref: '#/components/schemas/LegacyStringFieldFilter'
              active:
                $ref: '#/components/schemas/BooleanFieldFilter'
          in: query
          name: filter
          description: Filter users returned in the response.
          required: false
          style: deepObject
      tags:
        - Team Membership
      servers:
[...]
