openapi: 3.1.0
info:
  title: Konnect API - Go SDK
  version: 3.15.0
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: 'https://konghq.com'
    email: support@konghq.com
  x-extensions-note: |
    This API uses the `x-expression` vendor extension to indicate that a string property is a DSL expression.
    Supported types:


      - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`
      - `string`: A template string expression that evaluates to a string or a literal string value. For example,
        `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`

    Additionally, `x-sensitive` flag indicates that a field contains sensitive information. When the value
    of the field is provided in plain text, it's encrypted at rest and it's never returned in API responses.
    When the value is an expression, the expression itself is stored and returned in API responses.

    `x-min-runtime-version` indicates the minimum Event Gateway runtime version required to use a certain policy or
    policy feature. The runtime version can be configured at the Event Gateway entity level. It must be a string
    containing a semantic version in the `MAJOR.MINOR` format, e.g., `"1.1"`. info.[x-latest-public-runtime-version]
    indicates the latest public runtime version of Event Gateway. When
    `x-min-runtime-version > x-latest-public-runtime-version`, the property or schema will only appear in dev schemas.
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
  x-oas-source: kong/platform-api@
  x-oas-source-link: 'https://github.com/Kong/platform-api/commit/'
servers:
  - url: 'https://global.api.konghq.com'
  - url: 'https://us.api.konghq.com'
  - url: 'https://eu.api.konghq.com'
  - url: 'https://au.api.konghq.com'
paths:
  /v1/ai-gateways:
    get:
      operationId: list-ai-gateways
      summary: List AI Gateways
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a list of AI Gateways in the organization.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewaysResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateways
    post:
      x-speakeasy-entity-operation:
        terraform-resource: AIGateway#create
        terraform-datasource: null
      operationId: create-ai-gateway
      summary: Create an AI Gateway
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Creates a new AI Gateway in the organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateways
  '/v1/ai-gateways/{gatewayId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGateway#read
        terraform-datasource: null
      operationId: get-ai-gateway
      summary: Get an AI Gateway
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the details of a specific AI Gateway.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateways
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'AIGateway#create,update'
        terraform-datasource: null
      operationId: update-ai-gateway
      summary: Update an AI Gateway
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of an existing AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateways
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: AIGateway#delete
        terraform-datasource: null
      operationId: delete-ai-gateway
      summary: Delete an AI Gateway
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes an existing AI Gateway.
      responses:
        '204':
          description: AI Gateway deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateways
  '/v1/ai-gateways/{gatewayId}/agents':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-agents
      summary: List AI Gateway Agents
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a list of all agents registered in the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayAgentsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Agents
    post:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayAgent#create
        terraform-datasource: null
      operationId: create-ai-gateway-agent
      summary: Create an AI Gateway Agent
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Creates a new agent for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayAgentRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayAgentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Agents
  '/v1/ai-gateways/{gatewayId}/agents/{agentIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayAgentIdOrName'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayAgent#read
        terraform-datasource: null
      operationId: get-ai-gateway-agent
      summary: Get an AI Gateway Agent
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the details of a specific AI Gateway agent.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayAgentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Agents
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'AIGatewayAgent#create,update'
        terraform-datasource: null
      operationId: update-ai-gateway-agent
      summary: Update an AI Gateway Agent
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of an existing AI Gateway agent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayAgentRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayAgentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Agents
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayAgent#delete
        terraform-datasource: null
      operationId: delete-ai-gateway-agent
      summary: Delete an AI Gateway Agent
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Removes a specific AI Gateway agent.
      responses:
        '204':
          description: Agent deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Agents
  '/v1/ai-gateways/{gatewayId}/config-stores':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-config-stores
      summary: List AI Gateway Config Stores
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a list of Config Stores associated with the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConfigStoresResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Stores
    post:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConfigStore#create
        terraform-datasource: null
      operationId: create-ai-gateway-config-store
      summary: Create an AI Gateway Config Store
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Creates a new Config Store for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayConfigStoreRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayConfigStoreResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Stores
  '/v1/ai-gateways/{gatewayId}/config-stores/{configStoreIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConfigStoreIdOrName'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConfigStore#read
        terraform-datasource: null
      operationId: get-ai-gateway-config-store
      summary: Get an AI Gateway Config Store
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the details of a specific AI Gateway Config Store.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayConfigStoreResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Stores
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'AIGatewayConfigStore#create,update'
        terraform-datasource: null
      operationId: update-ai-gateway-config-store
      summary: Update an AI Gateway Config Store
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of an existing AI Gateway Config Store.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayConfigStoreRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayConfigStoreResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Stores
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConfigStore#delete
        terraform-datasource: null
      operationId: delete-ai-gateway-config-store
      summary: Delete an AI Gateway Config Store
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Removes a specific AI Gateway Config Store.
      parameters:
        - name: force
          in: query
          description: 'If true, delete the Config Store and all its secrets. If false, deletion is rejected when secrets are still linked to the Config Store.'
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: Config Store deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Stores
  '/v1/ai-gateways/{gatewayId}/config-stores/{configStoreIdOrName}/secrets':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConfigStoreIdOrName'
    get:
      operationId: list-ai-gateway-config-store-secrets
      summary: List AI Gateway Config Store Secrets
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a collection of all secrets for an AI Gateway Config Store.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConfigStoreSecretsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Store Secrets
    post:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConfigStoreSecret#create
        terraform-datasource: null
      operationId: create-ai-gateway-config-store-secret
      summary: Create an AI Gateway Config Store Secret
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Creates a secret for an AI Gateway Config Store.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayConfigStoreSecretRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayConfigStoreSecretResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Store Secrets
  '/v1/ai-gateways/{gatewayId}/config-stores/{configStoreIdOrName}/secrets/{key}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConfigStoreIdOrName'
      - name: key
        in: path
        description: Config Store Secret key.
        required: true
        schema:
          $ref: '#/components/schemas/AIGatewayConfigStoreSecretKey'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConfigStoreSecret#read
        terraform-datasource: null
      operationId: get-ai-gateway-config-store-secret
      summary: Get an AI Gateway Config Store Secret
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the secret entity for the Config Store. Secret values once stored cannot be retrieved.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayConfigStoreSecretResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Store Secrets
    put:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConfigStoreSecret#update
        terraform-datasource: null
      operationId: update-ai-gateway-config-store-secret
      summary: Update an AI Gateway Config Store Secret
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates a secret for an AI Gateway Config Store.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayConfigStoreSecretRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayConfigStoreSecretResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Store Secrets
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConfigStoreSecret#delete
        terraform-datasource: null
      operationId: delete-ai-gateway-config-store-secret
      summary: Delete an AI Gateway Config Store Secret
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Removes a secret from an AI Gateway Config Store.
      responses:
        '204':
          description: Config Store Secret deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Config Store Secrets
  '/v1/ai-gateways/{gatewayId}/consumer-groups':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-consumer-groups
      summary: List AI Gateway Consumer Groups
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a list of all consumer groups for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConsumerGroupsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
    post:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConsumerGroup#create
        terraform-datasource: null
      operationId: create-ai-gateway-consumer-group
      summary: Create an AI Gateway Consumer Group
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Creates a new Consumer Group for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayConsumerGroupRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayConsumerGroupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
  '/v1/ai-gateways/{gatewayId}/consumer-groups/{consumerGroupId}/consumers':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerGroupId'
    get:
      operationId: list-ai-gateway-consumers-in-consumer-group
      summary: List AI Gateway Consumers in a Consumer Group
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a list of all consumers in the given consumer group for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConsumersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
    post:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConsumerGroupConsumers#add
        terraform-datasource: null
      operationId: add-ai-gateway-consumer-to-consumer-group
      summary: Add a Consumer to a Consumer Group
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Add a consumer to an AI Gateway Consumer Group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAIGatewayConsumerToGroupRequest'
      responses:
        '201':
          $ref: '#/components/responses/AddAIGatewayConsumerToGroupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
  '/v1/ai-gateways/{gatewayId}/consumer-groups/{consumerGroupId}/consumers/{consumerIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerGroupId'
      - $ref: '#/components/parameters/AIGatewayConsumerIdOrName'
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConsumerGroupConsumers#remove
        terraform-datasource: null
      operationId: remove-ai-gateway-consumer-from-consumer-group
      summary: Remove a Consumer from a Consumer Group
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Remove a consumer from an AI Gateway Consumer Group.
      responses:
        '204':
          description: Consumer removed from group successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
  '/v1/ai-gateways/{gatewayId}/consumer-groups/{consumerGroupIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerGroupIdOrName'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConsumerGroup#read
        terraform-datasource: null
      operationId: get-ai-gateway-consumer-group
      summary: Get an AI Gateway Consumer Group
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the details of a specific AI Gateway Consumer Group.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayConsumerGroupResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'AIGatewayConsumerGroup#create,update'
        terraform-datasource: null
      operationId: update-ai-gateway-consumer-group
      summary: Update an AI Gateway Consumer Group
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of an existing AI Gateway Consumer Group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayConsumerGroupRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayConsumerGroupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConsumerGroup#delete
        terraform-datasource: null
      operationId: delete-ai-gateway-consumer-group
      summary: Delete an AI Gateway Consumer Group
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Removes a specific AI Gateway Consumer Group.
      responses:
        '204':
          description: Consumer Group deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumer Groups
  '/v1/ai-gateways/{gatewayId}/consumers':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-consumers
      summary: List AI Gateway Consumers
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a list of all consumers for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConsumersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    post:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConsumer#create
        terraform-datasource: null
      operationId: create-ai-gateway-consumer
      summary: Create an AI Gateway Consumer
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Creates a new consumer for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayConsumerRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayConsumerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
  '/v1/ai-gateways/{gatewayId}/consumers/{consumerId}/credentials':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerId'
    get:
      operationId: list-ai-gateway-consumer-credentials
      summary: List AI Gateway Consumer Credentials
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a list of all credentials for an AI Gateway consumer.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConsumerCredentialsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    post:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConsumerCredential#create
        terraform-datasource: null
      operationId: create-ai-gateway-consumer-credential
      summary: Create an AI Gateway Consumer Credential
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Creates a new credential for an AI Gateway consumer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayConsumerCredentialRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayConsumerCredentialResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
  '/v1/ai-gateways/{gatewayId}/consumers/{consumerId}/credentials/{credentialId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerId'
      - $ref: '#/components/parameters/AIGatewayConsumerCredentialId'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConsumerCredential#read
        terraform-datasource: null
      operationId: get-ai-gateway-consumer-credential
      summary: Get an AI Gateway Consumer Credential
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the details of a specific credential for an AI Gateway consumer.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayConsumerCredentialResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConsumerCredential#delete
        terraform-datasource: null
      operationId: delete-ai-gateway-consumer-credential
      summary: Delete an AI Gateway Consumer Credential
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Removes a specific credential for an AI Gateway consumer.
      responses:
        '204':
          description: Credential deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
  '/v1/ai-gateways/{gatewayId}/consumers/{consumerIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerIdOrName'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConsumer#read
        terraform-datasource: null
      operationId: get-ai-gateway-consumer
      summary: Get an AI Gateway Consumer
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the details of a specific AI Gateway consumer.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayConsumerResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'AIGatewayConsumer#create,update'
        terraform-datasource: null
      operationId: update-ai-gateway-consumer
      summary: Update an AI Gateway Consumer
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of an existing AI Gateway consumer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayConsumerRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayConsumerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConsumer#delete
        terraform-datasource: null
      operationId: delete-ai-gateway-consumer
      summary: Delete an AI Gateway Consumer
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Removes a specific AI Gateway consumer.
      responses:
        '204':
          description: Consumer deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
  '/v1/ai-gateways/{gatewayId}/consumers/{consumerIdOrName}/consumer-groups':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayConsumerIdOrName'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayConsumerConsumerGroups#read
        terraform-datasource: null
      operationId: list-ai-gateway-consumer-groups-for-consumer
      summary: List Consumer Groups a Consumer belongs to
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List AI Gateway Consumer Groups an Consumer belongs to
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayConsumerGroupsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'AIGatewayConsumerConsumerGroups#create,update'
        terraform-datasource: null
      operationId: update-ai-gateway-consumer-groups-for-consumer
      summary: Updates Consumer Groups a Consumer belongs to
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates AI Gateway Consumer Groups a Consumer belongs to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                consumer_groups:
                  type: array
                  items:
                    type: string
                    description: Consumer Group names
      responses:
        '201':
          description: Consumer Group names added to the consumer
          content:
            application/json:
              schema:
                type: object
                properties:
                  consumer_groups:
                    type: array
                    items:
                      type: string
                      description: Consumer Group names
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Consumers
  '/v1/ai-gateways/{gatewayId}/data-plane-certificates':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayDataPlaneCertificate#read
        terraform-datasource: null
      operationId: list-ai-gateway-data-plane-certificates
      summary: List AI Gateway DataPlane Certificates
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a list of DataPlane certificates that are associated to this AI Gateway. A DataPlane certificate allows DataPlanes configured with the certificate and corresponding private key to establish connection with this AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayDataPlaneCertificatesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway DataPlane Certificates
    post:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayDataPlaneCertificate#create
        terraform-datasource: null
      operationId: create-ai-gateway-data-plane-certificate
      summary: Create New AI Gateway DataPlane Certificate
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Create a new DataPlane Certificate for this AI Gateway. A DataPlane certificate allows DataPlanes configured with the certificate and corresponding private key to establish connection with this AI Gateway.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayDataPlaneCertificateRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayDataPlaneCertificateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway DataPlane Certificates
  '/v1/ai-gateways/{gatewayId}/data-plane-certificates/{certificateId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayDataPlaneCertificateId'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayDataPlaneCertificate#read
        terraform-datasource: null
      operationId: get-ai-gateway-data-plane-certificate
      summary: Get a DataPlane Certificate
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Retrieve a DataPlane certificate associated to this AI Gateway. A DataPlane certificate allows DataPlanes configured with the certificate and corresponding private key to establish connection with this AI Gateway.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayDataPlaneCertificateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway DataPlane Certificates
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayDataPlaneCertificate#delete
        terraform-datasource: null
      operationId: delete-ai-gateway-data-plane-certificate
      summary: Delete AI Gateway DataPlane Certificate
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Remove a DataPlane client certificate associated to this AI Gateway. Removing a DataPlane certificate would invalidate any DataPlanes currently connected to this AI Gateway using this certificate.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway DataPlane Certificates
  '/v1/ai-gateways/{gatewayId}/expected-config-version':
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayExpectedConfigVersion#read
        terraform-datasource: null
      operationId: get-ai-gateway-expected-config-version
      summary: Get the Expected Config Version
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Retrieve the expected config version for this AI Gateway. The expected config version can be used to verify if the config version of a data plane node is up to date with the AI Gateway. The config version will be the same if they are in sync.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayExpectedConfigVersionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway DataPlane
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
  '/v1/ai-gateways/{gatewayId}/identity':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-identity-providers
      summary: List AI Gateway Identity Providers
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a list of identity providers configured for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayIdentityProvidersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Identity Providers
    post:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayIdentityProvider#create
        terraform-datasource: null
      operationId: create-ai-gateway-identity-provider
      summary: Create an AI Gateway Identity Provider
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Registers a new identity provider for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayIdentityProviderRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayIdentityProviderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Identity Providers
  '/v1/ai-gateways/{gatewayId}/identity/{identityProviderIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayIdentityProviderIdOrName'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayIdentityProvider#read
        terraform-datasource: null
      operationId: get-ai-gateway-identity-provider
      summary: Get an AI Gateway Identity Provider
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the details of a specific AI Gateway identity provider.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayIdentityProviderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Identity Providers
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'AIGatewayIdentityProvider#create,update'
        terraform-datasource: null
      operationId: update-ai-gateway-identity-provider
      summary: Update an AI Gateway Identity Provider
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of an existing AI Gateway Identity provider.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayIdentityProviderRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayIdentityProviderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Identity Providers
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayIdentityProvider#delete
        terraform-datasource: null
      operationId: delete-ai-gateway-identity-provider
      summary: Delete an AI Gateway Identity Provider
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Removes a specific AI Gateway Identity provider.
      responses:
        '204':
          description: Identity provider deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Identity Providers
  '/v1/ai-gateways/{gatewayId}/mcp-servers':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-mcp-servers
      summary: List MCP Servers
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a list of MCP Servers configured for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayMCPServersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway MCP Servers
    post:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayMCPServer#create
        terraform-datasource: null
      operationId: create-ai-gateway-mcp-server
      summary: Create an MCP Server
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Registers a new MCP Server for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayMCPServerRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayMCPServerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway MCP Servers
  '/v1/ai-gateways/{gatewayId}/mcp-servers/{mcpServerIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayMcpServerIdOrName'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayMCPServer#read
        terraform-datasource: null
      operationId: get-ai-gateway-mcp-server
      summary: Get an MCP Server
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the details of a specific MCP Server.
      responses:
        '200':
          $ref: '#/components/responses/GetMCPServerResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway MCP Servers
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'AIGatewayMCPServer#create,update'
        terraform-datasource: null
      operationId: update-ai-gateway-mcp-server
      summary: Update an MCP Server
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of an existing MCP Server.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayMCPServerRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayMCPServerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway MCP Servers
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayMCPServer#delete
        terraform-datasource: null
      operationId: delete-ai-gateway-mcp-server
      summary: Delete an MCP Server
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Removes a specific MCP Server from the AI Gateway.
      responses:
        '204':
          description: MCP Server deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway MCP Servers
  '/v1/ai-gateways/{gatewayId}/model-providers':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-model-providers
      summary: List AI Gateway Model Providers
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a list of model providers configured for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayModelProvidersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Model Providers
    post:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayModelProvider#create
        terraform-datasource: null
      operationId: create-ai-gateway-model-provider
      summary: Create an AI Gateway Model Provider
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Registers a new model provider for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayModelProviderRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayModelProviderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Model Providers
  '/v1/ai-gateways/{gatewayId}/model-providers/{modelProviderIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayModelProviderIdOrName'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayModelProvider#read
        terraform-datasource: null
      operationId: get-ai-gateway-model-provider
      summary: Get an AI Gateway Model Provider
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the details of a specific AI Gateway model provider.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayModelProviderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Model Providers
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'AIGatewayModelProvider#create,update'
        terraform-datasource: null
      operationId: update-ai-gateway-model-provider
      summary: Update an AI Gateway Model Provider
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of an existing AI Gateway model provider.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayModelProviderRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayModelProviderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Model Providers
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayModelProvider#delete
        terraform-datasource: null
      operationId: delete-ai-gateway-model-provider
      summary: Delete an AI Gateway Model Provider
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Removes a specific AI Gateway model provider.
      responses:
        '204':
          description: Model provider deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Model Providers
  '/v1/ai-gateways/{gatewayId}/models':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-models
      summary: List AI Gateway Models
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a list of all models registered in the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayModelsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Models
    post:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayModel#create
        terraform-datasource: null
      operationId: create-ai-gateway-model
      summary: Create an AI Gateway Model
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Registers a new model with routing, capabilities, and target backends.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayModelRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayModelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Models
  '/v1/ai-gateways/{gatewayId}/models/{modelIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayModelIdOrName'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayModel#read
        terraform-datasource: null
      operationId: get-ai-gateway-model
      summary: Get an AI Gateway Model
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the details of a specific AI Gateway model.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayModelResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Models
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'AIGatewayModel#create,update'
        terraform-datasource: null
      operationId: update-ai-gateway-model
      summary: Update an AI Gateway Model
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of an existing AI Gateway model.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayModelRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayModelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Models
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayModel#delete
        terraform-datasource: null
      operationId: delete-ai-gateway-model
      summary: Delete an AI Gateway Model
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Removes a specific AI Gateway model.
      responses:
        '204':
          description: Model deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Models
  '/v1/ai-gateways/{gatewayId}/nodes':
    get:
      operationId: list-ai-gateway-nodes
      summary: List Nodes
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a list of nodes associated with the specified AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayDataPlaneNodesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Nodes
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
  '/v1/ai-gateways/{gatewayId}/nodes/{dataPlaneNodeId}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayDataPlaneNodeId'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayNode#read
        terraform-datasource: null
      operationId: get-ai-gateway-node
      summary: Get a Node
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns information about a specific node associated with the AI Gateway.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayDataPlaneNodeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Nodes
  '/v1/ai-gateways/{gatewayId}/policies':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-policies
      summary: List AI Gateway Policies
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a list of policies configured for the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayPoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
    post:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayPolicy#create
        terraform-datasource: null
      operationId: create-ai-gateway-policy
      summary: Create an AI Gateway Policy
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Registers a new policy for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayPolicyRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayPolicyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
  '/v1/ai-gateways/{gatewayId}/policies/{policyIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayPolicyIdOrName'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayPolicy#read
        terraform-datasource: null
      operationId: get-ai-gateway-policy
      summary: Get an AI Gateway Policy
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the details of a specific AI Gateway policy.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayPolicyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'AIGatewayPolicy#create,update'
        terraform-datasource: null
      operationId: update-ai-gateway-policy
      summary: Update an AI Gateway Policy
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of an existing AI Gateway policy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayPolicyRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayPolicyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayPolicy#delete
        terraform-datasource: null
      operationId: delete-ai-gateway-policy
      summary: Delete an AI Gateway Policy
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Removes a specific AI Gateway policy.
      responses:
        '204':
          description: Policy deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Policies
  '/v1/ai-gateways/{gatewayId}/vaults':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
    get:
      operationId: list-ai-gateway-vaults
      summary: List AI Gateway Vaults
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns a list of vaults associated with the AI Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListAIGatewayVaultsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Vaults
    post:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayVault#create
        terraform-datasource: null
      operationId: create-ai-gateway-vault
      summary: Create an AI Gateway Vault
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Registers a new vault for the AI Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIGatewayVaultRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAIGatewayVaultResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Vaults
  '/v1/ai-gateways/{gatewayId}/vaults/{vaultIdOrName}':
    parameters:
      - $ref: '#/components/parameters/AIGatewayId'
      - $ref: '#/components/parameters/AIGatewayVaultIdOrName'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayVault#read
        terraform-datasource: null
      operationId: get-ai-gateway-vault
      summary: Get an AI Gateway Vault
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the details of a specific AI Gateway vault.
      responses:
        '200':
          $ref: '#/components/responses/GetAIGatewayVaultResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Vaults
    put:
      x-speakeasy-entity-operation:
        terraform-resource: 'AIGatewayVault#create,update'
        terraform-datasource: null
      operationId: update-ai-gateway-vault
      summary: Update an AI Gateway Vault
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of an existing AI Gateway vault.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIGatewayVaultRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAIGatewayVaultResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Vaults
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: AIGatewayVault#delete
        terraform-datasource: null
      operationId: delete-ai-gateway-vault
      summary: Delete an AI Gateway Vault
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Removes a specific AI Gateway vault.
      responses:
        '204':
          description: Vault deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      tags:
        - AI Gateway Vaults
  '/v1/apis/{apiId}/service-mappings':
    parameters:
      - name: apiId
        in: path
        description: ID of the API.
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: list-service-mappings-for-api
      summary: List Service Mappings for an API
      description: Returns a paginated collection of Service mappings for the given API.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogServiceApiMappingSort'
        - $ref: '#/components/parameters/CatalogApiServiceMappingFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogServiceApiMappingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Service API Mappings
  /v1/catalog-services:
    post:
      x-speakeasy-entity-operation: CatalogService#create
      operationId: create-catalog-service
      summary: Create Service
      description: Creates a service.
      requestBody:
        $ref: '#/components/requestBodies/CreateCatalogServiceRequest'
      responses:
        '201':
          $ref: '#/components/responses/CatalogServiceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Catalog Services
    get:
      operationId: list-catalog-services
      summary: List Services
      description: Returns a paginated collection of services.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogServiceFilter'
        - $ref: '#/components/parameters/CatalogServiceSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogServicesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Catalog Services
  '/v1/catalog-services/{id}':
    parameters:
      - name: id
        in: path
        description: The `id` of the service.
        required: true
        schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
    get:
      x-speakeasy-entity-operation:
        terraform-resource: CatalogService#read
        terraform-datasource: null
      operationId: fetch-catalog-service
      summary: Get a Service
      description: Fetches a service.
      responses:
        '200':
          $ref: '#/components/responses/CatalogServiceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Services
    patch:
      x-speakeasy-entity-operation: CatalogService#update
      operationId: update-catalog-service
      summary: Update Service
      description: Updates a service.
      requestBody:
        $ref: '#/components/requestBodies/UpdateCatalogServiceRequest'
      responses:
        '200':
          $ref: '#/components/responses/CatalogServiceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Catalog Services
    delete:
      x-speakeasy-entity-operation: CatalogService#delete
      operationId: delete-catalog-service
      summary: Delete Service
      description: Deletes a service.
      responses:
        '204':
          description: Service was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Services
  '/v1/catalog-services/{id}/resources':
    parameters:
      - name: id
        in: path
        description: The `id` of the service.
        required: true
        schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
    get:
      operationId: list-catalog-service-resources
      summary: List Service Resources
      description: Returns a paginated collection of resources mapped to a service.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogResourceRefFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogServiceResourcesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Service Resources
  '/v1/catalog-services/{id}/scorecards':
    parameters:
      - name: id
        in: path
        description: The `id` of the service.
        required: true
        schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
    get:
      operationId: list-catalog-service-scorecards
      summary: List Catalog Service Scorecards
      description: Returns a paginated collection of scorecards targeting the given service.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ScorecardFilter'
        - $ref: '#/components/parameters/ScorecardSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogServiceScorecardsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Scorecards
  '/v1/catalog-services/{serviceId}/api-mappings':
    parameters:
      - name: serviceId
        in: path
        description: The `id` of the service.
        required: true
        schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
    get:
      operationId: list-catalog-service-api-mappings
      summary: List API Mappings for a Service
      description: Returns a paginated collection of API mappings for the given service.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogServiceApiMappingSort'
        - $ref: '#/components/parameters/CatalogServiceApiMappingFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogServiceApiMappingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Service API Mappings
    post:
      operationId: create-catalog-service-api-mapping
      summary: Create API Mapping for a Service
      description: Creates a new API mapping for the given service.
      requestBody:
        $ref: '#/components/requestBodies/CreateCatalogServiceApiMappingBody'
      responses:
        '201':
          $ref: '#/components/responses/CatalogServiceApiMappingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Catalog Service API Mappings
  '/v1/catalog-services/{serviceId}/api-mappings/{mappingId}':
    parameters:
      - name: serviceId
        in: path
        description: The `id` of the service.
        required: true
        schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
      - name: mappingId
        in: path
        description: ID of the catalog service API mapping.
        required: true
        schema:
          type: string
          format: uuid
          example: d277faad-ed4e-4c56-a0fb-acce065dee34
    get:
      operationId: get-catalog-service-api-mapping
      summary: Get API Mapping for a Service
      description: Returns information about a specific API mapping for the given service.
      responses:
        '200':
          $ref: '#/components/responses/CatalogServiceApiMappingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Service API Mappings
    delete:
      operationId: delete-catalog-service-api-mapping
      summary: Delete API Mapping for a Service
      description: Deletes a specific API mapping for the given service.
      responses:
        '204':
          description: Catalog service API mapping was deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Service API Mappings
  '/v1/catalog-services/{serviceId}/scorecards/{scorecardId}':
    parameters:
      - name: serviceId
        in: path
        description: The `id` of the service.
        required: true
        schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
      - name: scorecardId
        in: path
        description: The `id` of the scorecard.
        required: true
        schema:
          type: string
          format: uuid
          example: f3704e4c-104d-4f21-998a-20d4364c893f
    get:
      operationId: fetch-catalog-service-scorecard
      summary: Get a Catalog Service Scorecard
      description: Fetches the given scorecard targeting the service.
      responses:
        '200':
          $ref: '#/components/responses/CatalogServiceScorecardResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Scorecards
  /v1/criteria-templates:
    get:
      operationId: list-criteria-templates
      summary: List Criteria Templates
      description: Returns a paginated collection of criteria templates.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CriteriaTemplateFilter'
        - $ref: '#/components/parameters/CriteriaTemplateSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCriteriaTemplatesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Criteria Templates
  /v1/event-gateways:
    get:
      operationId: list-event-gateways
      summary: List all Event Gateways
      description: Returns an array of gateway objects containing information about the Konnect Event Gateways.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewaysResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#create
        terraform-datasource: null
      operationId: create-event-gateway
      summary: Create Event Gateway
      description: Create a Event gateway in the Konnect Organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGatewayRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
  '/v1/event-gateways/{gatewayId}':
    parameters:
      - name: gatewayId
        in: path
        description: The UUID of your Gateway.
        required: true
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#read
        terraform-datasource: null
      operationId: get-event-gateway
      summary: Get an Event Gateway
      description: Returns information about an individual Event gateway.
      responses:
        '200':
          description: A response to retrieving a single eventgateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#update
        terraform-datasource: null
      operationId: update-event-gateway
      summary: Update Event Gateway
      description: Update an individual gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGatewayRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
    patch:
      operationId: patch-event-gateway
      summary: Partially Update Event Gateway
      description: Patch an individual gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchGatewayRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#delete
        terraform-datasource: null
      operationId: delete-event-gateway
      summary: Delete Event Gateway
      description: Delete an individual gateway.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateways
  '/v1/event-gateways/{gatewayId}/backend-clusters':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      operationId: list-event-gateway-backend-clusters
      summary: List Backend Clusters
      description: Returns a list of backend clusters associated with the specified Event Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListBackendClustersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Backend Clusters
    post:
      x-speakeasy-entity-operation:
[...]
