openapi: 3.1.0
info:
  title: Konnect API - Go SDK
  version: 0.0.1
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: https://konghq.com
    email: support@konghq.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://global.api.konghq.com
  - url: https://us.api.konghq.com
  - url: https://eu.api.konghq.com
  - url: https://au.api.konghq.com
security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
  - konnectAccessToken: []
tags:
  - name: Control Planes
  - name: Control Plane Groups
  - name: Auth Settings
  - name: Invites
  - name: Roles
  - name: Team Membership
  - name: Teams
  - name: Users
  - name: System Accounts
  - name: System Accounts - Access Tokens
  - name: System Accounts - Roles
  - name: System Accounts - Team Membership
  - name: Me
  - name: Authentication
  - name: Impersonation Settings
  - name: Data-Plane Group Configurations
  - name: Networks
  - name: Transit Gateways
  - name: Provider Accounts
  - name: Custom Domains
  - name: Resource Quotas
  - name: Resource Configurations
  - name: Resource Availability
  - description: DP Nodes
    name: DP Nodes
  - description: DP Certificates
    name: DP Certificates
  - description: Custom Plugin Schemas
    name: Custom Plugin Schemas
  - description: Config Stores
    name: Config Stores
  - description: Config Store Secrets
    name: Config Store Secrets
  - description: >
      Service entities are abstractions of your microservice interfaces or
      formal APIs. For example, a service could be a data transformation
      microservice or a billing API.

      <br><br>

      The main attribute of a service is the destination URL for proxying
      traffic. This URL can be set as a single string or by specifying its
      protocol, host, port and path individually.

      <br><br>

      Services are associated to routes, and a single service can have many
      routes associated with it. Routes are entrypoints in Kong Gateway which
      define rules to match client requests. Once a route is matched, Kong
      Gateway proxies the request to its associated service. See the [Proxy
      Reference](https://docs.konghq.com/gateway/latest/how-kong-works/routing-traffic/)
      for a detailed explanation of how Kong proxies traffic.

      <br><br>

      Services can be both [tagged and filtered by
      tags](https://docs.konghq.com/gateway/latest/admin-api/#tags).
    name: Services
  - description: >
      Route entities define rules to match client requests. Each route is
      associated with a service, and a service may have multiple routes
      associated to it. Every request matching a given route will be proxied to
      the associated service. You need at least one matching rule that applies
      to the protocol being matched by the route.

      <br><br>

      The combination of routes and services, and the separation of concerns
      between them, offers a powerful routing mechanism with which it is
      possible to define fine-grained entrypoints in Kong Gateway leading to
      different upstream services of your infrastructure.

      <br><br>

      Depending on the protocol, one of the following attributes must be set:

      <br>


      - `http`: At least one of `methods`, `hosts`, `headers`, or `paths`

      - `https`: At least one of `methods`, `hosts`, `headers`, `paths`, or
      `snis`

      - `tcp`: At least one of `sources` or `destinations`

      - `tls`: at least one of `sources`, `destinations`, or `snis`

      - `tls_passthrough`: set `snis`

      - `grpc`: At least one of `hosts`, `headers`, or `paths`

      - `grpcs`: At least one of `hosts`, `headers`, `paths`, or `snis`

      - `ws`: At least one of `hosts`, `headers`, or `paths`

      - `wss`: At least one of `hosts`, `headers`, `paths`, or `snis`



        <br>
        A route can't have both `tls` and `tls_passthrough` protocols at same time.
        <br><br>
        Learn more about the router:
      - [Configure routes using
      expressions](https://docs.konghq.com/gateway/latest/key-concepts/routes/expressions)

      - [Router Expressions language
      reference](https://docs.konghq.com/gateway/latest/reference/router-expressions-language/)
    name: Routes
  - description: >
      A plugin entity represents a plugin configuration that will be executed
      during the HTTP request/response lifecycle. Plugins let you add
      functionality to services that run behind a Kong Gateway instance, like
      authentication or rate limiting.

      You can find more information about available plugins and which values
      each plugin accepts at the [Plugin Hub](https://docs.konghq.com/hub/).

      <br><br>

      When adding a plugin configuration to a service, the plugin will run on
      every request made by a client to that service. If a plugin needs to be
      tuned to different values for some specific consumers, you can do so by
      creating a separate plugin instance that specifies both the service and
      the consumer, through the service and consumer fields.

      <br><br>

      Plugins can be both [tagged and filtered by
      tags](https://docs.konghq.com/gateway/latest/admin-api/#tags).
    name: Plugins
  - description: >
      The consumer object represents a consumer - or a user - of a service.

      You can either rely on Kong Gateway as the primary datastore, or you can
      map the consumer list with your database to keep consistency between Kong
      Gateway and your existing primary datastore.
    name: Consumers
  - description: >-
      Consumer groups enable the organization and categorization of consumers
      (users or applications) within an API ecosystem. 

      By grouping consumers together, you eliminate the need to manage them
      individually, providing a scalable, efficient approach to managing
      configurations.
    name: Consumer Groups
  - description: >
      A certificate object represents a public certificate, and can be
      optionally paired with the corresponding private key. These objects are
      used by Kong Gateway to handle SSL/TLS termination for encrypted requests,
      or for use as a trusted CA store when validating peer certificate of
      client/service.

      <br><br>

      Certificates are optionally associated with SNI objects to tie a cert/key
      pair to one or more hostnames.

      <br><br>

      If intermediate certificates are required in addition to the main
      certificate, they should be concatenated together into one string.
    name: Certificates
  - description: >-
      An SNI object represents a many-to-one mapping of hostnames to a
      certificate. 

      <br><br>

      A certificate object can have many hostnames associated with it. When Kong
      Gateway receives an SSL request, it uses the SNI field in the Client Hello
      to look up the certificate object based on the SNI associated with the
      certificate.
    name: SNIs
  - description: >-
      A CA certificate object represents a trusted certificate authority. 

      These objects are used by Kong Gateway to verify the validity of a client
      or server certificate.
    name: CA Certificates
  - description: >-
      The upstream object represents a virtual hostname and can be used to load
      balance incoming requests over multiple services (targets). 

      <br><br>

      An upstream also includes a [health
      checker](https://docs.konghq.com/gateway/latest/how-kong-works/health-checks/),
      which can enable and disable targets based on their ability or inability
      to serve requests. 

      The configuration for the health checker is stored in the upstream object,
      and applies to all of its targets.
    name: Upstreams
  - description: >
      Vault objects are used to configure different vault connectors for
      [managing
      secrets](https://docs.konghq.com/gateway/latest/kong-enterprise/secrets-management/).

      Configuring a vault lets you reference secrets from other entities.

      This allows for a proper separation of secrets and configuration and
      prevents secret sprawl.

      <br><br>

      For example, you could store a certificate and a key in a vault, then
      reference them from a certificate entity. This way, the certificate and
      key are not stored in the entity directly and are more secure.

      <br><br>

      Secrets rotation can be managed using
      [TTLs](https://docs.konghq.com/gateway/latest/kong-enterprise/secrets-management/advanced-usage/).
    name: Vaults
  - description: >
      A key object holds a representation of asymmetric keys in various formats.
      When Kong Gateway or a Kong plugin requires a specific public or private
      key to perform certain operations, it can use this entity.
    name: Keys
  - description: >
      A JSON Web key set. Key sets are the preferred way to expose keys to
      plugins because they tell the plugin where to look for keys or have a
      scoping mechanism to restrict plugins to specific keys.
    name: KeySets
  - name: API-keys
  - name: Basic-auth credentials
  - name: JWTs
  - name: HMAC-auth credentials
  - name: MTLS-auth credentials
  - name: ACLs
paths:
  /v2/cloud-gateways/availability.json:
    get:
      x-speakeasy-group: CloudGateways
      operationId: get-availability-json
      summary: Get Resource Availability JSON
      description: >
        Get Cloud Gateways Availability JSON document for describing cloud
        provider and region availability, pricing,

        gateway version availability, and instance type information.
      security: []
      responses:
        '200':
          $ref: >-
            #/components/responses/RetrieveCloudGatewaysAvailabilityDocumentResponse
      tags:
        - Resource Availability
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/configurations:
    get:
      x-speakeasy-group: CloudGateways
      summary: List Configurations
      description: >
        Returns a paginated collection of configurations across control-planes
        for an organization (restricted by

        permitted control-plane reads).
      operationId: list-configurations
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ConfigurationsFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListConfigurationsResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Data-Plane Group Configurations
      servers:
        - url: https://global.api.konghq.com/
    put:
      x-speakeasy-group: CloudGateways
      x-speakeasy-entity-operation: CloudGatewayConfiguration#create,update
      summary: Create Configuration
      description: >
        Creates a new configuration for a control-plane (restricted by permitted
        control-plane permissions for

        configurations). This request will replace any existing configuration
        for the requested control_plane_id and

        control_plane_geo by performing a diff. From this diff, new resources
        detected in the requested configuration

        will be added, resources not found in the request configuration but in
        the previous will be deleted, and

        resources found in both will be updated to the requested configuration.
        Networks referenced in this request that

        are in an offline state will automatically initialize (i.e. move to an
        initializing state).
      operationId: create-configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConfigurationRequest'
      responses:
        '200':
          $ref: '#/components/responses/CreateConfigurationResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CloudGatewaysForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/CloudGatewaysConflict'
      tags:
        - Data-Plane Group Configurations
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/configurations/{configurationId}:
    get:
      x-speakeasy-group: CloudGateways
      x-speakeasy-entity-operation: CloudGatewayConfiguration#get
      summary: Get Configuration
      description: >-
        Retrieves a configuration by ID (restricted by permitted control-plane
        read).
      operationId: get-configuration
      parameters:
        - $ref: '#/components/parameters/ConfigurationId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveConfigurationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Data-Plane Group Configurations
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/custom-domains:
    get:
      x-speakeasy-group: CloudGateways
      summary: List Custom Domains
      description: >
        Returns a paginated collection of custom domains across control-planes
        for an organization (restricted by

        permitted control-plane reads).
      operationId: list-custom-domains
      parameters:
        - $ref: '#/components/parameters/CustomDomainsFilter'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListCustomDomainsResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Custom Domains
      servers:
        - url: https://global.api.konghq.com/
    post:
      x-speakeasy-group: CloudGateways
      x-speakeasy-entity-operation: CloudGatewayCustomDomain#create
      summary: Create Custom Domain
      description: >
        Creates a new custom domain for a control-plane (restricted by permitted
        control-plane associate-custom-domain

        action).
      operationId: create-custom-domains
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomDomainRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateCustomDomainResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Custom Domains
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/custom-domains/{customDomainId}:
    get:
      x-speakeasy-group: CloudGateways
      x-speakeasy-entity-operation: CloudGatewayCustomDomain#read
      summary: Get Custom Domain
      description: >-
        Retrieves a custom domain by ID (restricted by permitted control-plane
        reads).
      operationId: get-custom-domain
      parameters:
        - $ref: '#/components/parameters/CustomDomainId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveCustomDomainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Custom Domains
      servers:
        - url: https://global.api.konghq.com/
    delete:
      x-speakeasy-group: CloudGateways
      x-speakeasy-entity-operation: CloudGatewayCustomDomain#delete
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 10000
          maxInterval: 60000
          maxElapsedTime: 1800000
          exponent: 1.5
        statusCodes:
          - 400
        retryConnectionErrors: false
      summary: Delete Custom Domain
      description: >-
        Deletes a custom domain by ID (restricted by permitted control-plane
        reads).
      operationId: delete-custom-domain
      parameters:
        - $ref: '#/components/parameters/CustomDomainId'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Custom Domains
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/custom-domains/{customDomainId}/online-status:
    get:
      x-speakeasy-group: CloudGateways
      summary: Get Custom Domain Online Status
      description: Retrieves the CNAME and SSL status of a custom domain.
      operationId: get-custom-domain-online-status
      parameters:
        - $ref: '#/components/parameters/CustomDomainId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveCustomDomainOnlineStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Custom Domains
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/default-resource-configurations:
    get:
      x-speakeasy-group: CloudGateways
      summary: List Default Resource Configurations
      description: >
        Returns a paginated collection of default resource configurations for
        cloud-gateways, along with

        organizationally-defined overrides for those resource configurations.

        Resource configurations are settings that are applied to all cloud
        gateway resources in an organization.

        For example, the "data-plane-group-idle-timeout-minutes" resource
        configuration sets the idle timeout for all data plane groups in an
        organization.
      operationId: list-default-resource-configurations
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListDefaultResourceConfigurationsResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Resource Configurations
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/default-resource-quotas:
    get:
      x-speakeasy-group: CloudGateways
      summary: List Default Resource Quotas
      description: >
        Returns a paginated collection of default resource quotas for
        cloud-gateways, along with

        organizationally-defined overrides for those resource quotas.
      operationId: list-default-resource-quotas
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListDefaultResourceQuotasResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Resource Quotas
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/networks:
    get:
      x-speakeasy-group: CloudGateways
      summary: List Networks
      description: Returns a paginated list of networks.
      operationId: list-networks
      parameters:
        - $ref: '#/components/parameters/NetworksFilter'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListNetworksResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Networks
      servers:
        - url: https://global.api.konghq.com/
    post:
      x-speakeasy-group: CloudGateways
      x-speakeasy-entity-operation: CloudGatewayNetwork#create
      summary: Create Network
      description: Creates a new network for a given provider account.
      operationId: create-network
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNetworkRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateNetworkResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CloudGatewaysForbidden'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Networks
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/networks/{networkId}:
    get:
      x-speakeasy-group: CloudGateways
      x-speakeasy-entity-operation: CloudGatewayNetwork#read
      summary: Get Network
      description: Retrieves a network by ID.
      operationId: get-network
      parameters:
        - $ref: '#/components/parameters/NetworkId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveNetworkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Networks
      servers:
        - url: https://global.api.konghq.com/
    patch:
      x-speakeasy-group: CloudGateways
      x-speakeasy-entity-operation: CloudGatewayNetwork#update
      summary: Update Network
      description: Updates a network by ID.
      operationId: update-network
      parameters:
        - $ref: '#/components/parameters/NetworkId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchNetworkRequest'
      responses:
        '200':
          $ref: '#/components/responses/PatchNetworkResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CloudGatewaysForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Networks
      servers:
        - url: https://global.api.konghq.com/
    delete:
      x-speakeasy-group: CloudGateways
      x-speakeasy-entity-operation: CloudGatewayNetwork#delete
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 10000
          maxInterval: 60000
          maxElapsedTime: 1800000
          exponent: 1.5
        statusCodes:
          - 400
        retryConnectionErrors: false
      summary: Delete Network
      description: Deletes a network by ID.
      operationId: delete-network
      parameters:
        - $ref: '#/components/parameters/NetworkId'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Networks
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/networks/{networkId}/configuration-references:
    get:
      x-speakeasy-group: CloudGateways
      description: List Network Configuration References
      summary: >
        Returns a paginated collection of configurations that reference a
        network.
      operationId: list-network-configurations
      parameters:
        - $ref: '#/components/parameters/NetworkId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListNetworkConfigurationReferencesResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Networks
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/networks/{networkId}/transit-gateways:
    get:
      x-speakeasy-group: CloudGateways
      summary: List Transit Gateways
      description: Returns a paginated collection of transit gateways for a given network.
      operationId: list-transit-gateways
      parameters:
        - $ref: '#/components/parameters/NetworkId'
        - $ref: '#/components/parameters/TransitGatewaysFilter'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListTransitGatewaysResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Transit Gateways
      servers:
        - url: https://global.api.konghq.com/
    post:
      x-speakeasy-group: CloudGateways
      x-speakeasy-entity-operation: CloudGatewayTransitGateway#create
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 30000
          maxInterval: 60000
          maxElapsedTime: 3600000
          exponent: 1.5
        statusCodes:
          - 400
        retryConnectionErrors: false
      summary: Create Transit Gateway
      description: Creates a new transit gateway for a given network.
      operationId: create-transit-gateway
      parameters:
        - $ref: '#/components/parameters/NetworkId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransitGatewayRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateTransitGatewayResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Transit Gateways
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/networks/{networkId}/transit-gateways/{transitGatewayId}:
    get:
      x-speakeasy-group: CloudGateways
      x-speakeasy-entity-operation: CloudGatewayTransitGateway#read
      summary: Get Transit Gateway
      description: Retrieves a transit gateway by ID for a given network.
      operationId: get-transit-gateway
      parameters:
        - $ref: '#/components/parameters/NetworkId'
        - $ref: '#/components/parameters/TransitGatewayId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveTransitGatewayResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Transit Gateways
      servers:
        - url: https://global.api.konghq.com/
    delete:
      x-speakeasy-group: CloudGateways
      x-speakeasy-entity-operation: CloudGatewayTransitGateway#delete
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 10000
          maxInterval: 60000
          maxElapsedTime: 1800000
          exponent: 1.5
        statusCodes:
          - 400
        retryConnectionErrors: false
      summary: Delete Transit Gateway
      description: Deletes a transit gateway by ID for a given network.
      operationId: delete-transit-gateway
      parameters:
        - $ref: '#/components/parameters/NetworkId'
        - $ref: '#/components/parameters/TransitGatewayId'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Transit Gateways
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/provider-accounts:
    get:
      x-speakeasy-group: CloudGateways
      x-speakeasy-entity-operation: CloudGatewayProviderAccountList#read
      summary: List Provider Accounts
      description: >-
        Returns a a paginated collection of provider accounts for an
        organization.
      operationId: list-provider-accounts
      parameters:
        - $ref: '#/components/parameters/ProviderAccountsFilter'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListProviderAccountsResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Provider Accounts
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/provider-accounts/{providerAccountId}:
    get:
      x-speakeasy-group: CloudGateways
      summary: Get Provider Account
      description: Retrieves a provider account by ID.
      operationId: get-provider-account
      parameters:
        - $ref: '#/components/parameters/ProviderAccountId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveProviderAccountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Provider Accounts
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/resource-configurations:
    get:
      x-speakeasy-group: CloudGateways
      summary: List Resource Configurations
      description: >
        Returns a paginated collection of resource configurations for an
        organization.

        Resource configurations are settings that are applied to all cloud
        gateway resources in an organization.

        For example, the "data-plane-group-idle-timeout-minutes" resource
        configuration sets the idle timeout for all data plane groups in an
        organization.
      operationId: list-resource-configurations
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListResourceConfigurationsResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Resource Configurations
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/resource-configurations/{resourceConfigurationId}:
    get:
      x-speakeasy-group: CloudGateways
      summary: Get Resource Configuration
      description: Retrieves a resource configuration by ID.
      operationId: get-resource-configuration
      parameters:
        - $ref: '#/components/parameters/ResourceConfigurationId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveResourceConfigurationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Resource Configurations
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/resource-quotas:
    get:
      x-speakeasy-group: CloudGateways
      summary: List Resource Quotas
      description: |
        Returns a paginated collection of resource quotas for an organization.
      operationId: list-resource-quotas
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListResourceQuotasResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Resource Quotas
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/resource-quotas/{resourceQuotaId}:
    get:
      x-speakeasy-group: CloudGateways
      summary: Get Resource Quota
      description: Retrieves a resource quota by ID.
      operationId: get-resource-quota
      parameters:
        - $ref: '#/components/parameters/ResourceQuotaId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveResourceQuotaResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Resource Quotas
      servers:
        - url: https://global.api.konghq.com/
  /v2/control-planes:
    get:
      summary: List Control Planes
      responses:
        '200':
          $ref: '#/components/responses/ListControlPlanesResponse'
        '400':
          $ref: '#/components/responses/ControlPlanesBadRequest'
        '401':
          $ref: '#/components/responses/ControlPlaneUnauthenticated'
        '403':
          $ref: '#/components/responses/ControlPlanePermissionDenied'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: list-control-planes
      description: >-
        Returns an array of control plane objects containing information about
        the Konnect Control Planes.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ControlPlaneFilter'
        - $ref: '#/components/parameters/FilterByLabels'
        - $ref: '#/components/parameters/ControlPlaneSort'
      tags:
        - Control Planes
    parameters: []
    post:
      x-speakeasy-entity-operation: GatewayControlPlane#create
      summary: Create Control Plane
      operationId: create-control-plane
      responses:
        '201':
          $ref: '#/components/responses/CreateControlPlaneResponse'
        '400':
          $ref: '#/components/responses/ControlPlanesBadRequest'
        '401':
          $ref: '#/components/responses/ControlPlaneUnauthenticated'
        '403':
          $ref: '#/components/responses/ControlPlanePermissionDenied'
        '409':
          $ref: '#/components/responses/ControlPlaneConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - Control Planes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateControlPlaneRequest'
      description: Create a control plane in the Konnect Organization.
  /v2/control-planes/{controlPlaneId}/config-stores:
    get:
      summary: List all config stores for a control plane
      operationId: list-config-stores
      parameters:
        - $ref: '#/components/parameters/controlPlaneId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListConfigStoresResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ConfigStoreUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Config Stores
    post:
      summary: Create Config Store
      description: Create a Config Store
      operationId: create-config-store
      responses:
        '201':
          $ref: '#/components/responses/ConfigStoreResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ConfigStoreUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
        - $ref: '#/components/parameters/controlPlaneId'
      requestBody:
        $ref: '#/components/requestBodies/CreateConfigStoreRequest'
      tags:
        - Config Stores
  /v2/control-planes/{controlPlaneId}/config-stores/{configStoreId}:
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
      - $ref: '#/components/parameters/configStoreId'
    get:
      summary: Fetch Config Store
      description: Returns a Config Store
      operationId: get-config-store
      responses:
        '200':
          $ref: '#/components/responses/ConfigStoreResponse'
        '401':
          $ref: '#/components/responses/ConfigStoreUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Config Stores
    put:
      summary: Update an individual Config Store
      description: Updates a Config Store
      operationId: update-config-store
      responses:
        '200':
          $ref: '#/components/responses/ConfigStoreResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ConfigStoreUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ConfigStoreNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      requestBody:
        $ref: '#/components/requestBodies/UpdateConfigStoreRequest'
      tags:
        - Config Stores
    delete:
      summary: Delete Config Store
      description: Removes a config store
      operationId: delete-config-store
      parameters:
        - schema:
            type: string
            default: 'false'
            enum:
              - 'true'
              - 'false'
          name: force
          in: query
          description: >-
            If true, delete specified config store and all secrets, even if
            there are secrets linked to the config store If false, do not allow
            deletion if there are secrets linked to the config store
      responses:
        '204':
          description: Config Store was deleted successfully.
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ConfigStoreUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Config Stores
  /v2/control-planes/{controlPlaneId}/config-stores/{configStoreId}/secrets:
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
      - $ref: '#/components/parameters/configStoreId'
    post:
      summary: Create Config Store Secret
      description: Creates a secret for a Config Store.
      operationId: create-config-store-secret
      responses:
        '201':
          $ref: '#/components/responses/ConfigStoreSecretResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ConfigStoreSecretUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ConfigStoreSecretNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      requestBody:
        $ref: '#/components/requestBodies/CreateConfigStoreSecretRequest'
      tags:
        - Config Store Secrets
    get:
      summary: List Config Store Secrets
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      description: Returns a collection of all secrets for a Config Store.
      operationId: list-config-store-secrets
      responses:
        '200':
          $ref: '#/components/responses/ListConfigStoreSecretsResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ConfigStoreSecretUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ConfigStoreSecretNotFound'
      tags:
        - Config Store Secrets
  /v2/control-planes/{controlPlaneId}/config-stores/{configStoreId}/secrets/{key}:
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
      - $ref: '#/components/parameters/configStoreId'
      - schema:
          type: string
          example: ConfigStoreSecretKey
        name: key
        in: path
        required: true
        description: Config Store Secret key
    get:
      summary: Fetch Config Store Secret
      description: Returns a secret for the Config Store.
      operationId: get-config-store-secret
      responses:
        '200':
          $ref: '#/components/responses/ConfigStoreSecretResponse'
        '401':
          $ref: '#/components/responses/ConfigStoreSecretUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ConfigStoreSecretNotFound'
      tags:
        - Config Store Secrets
    put:
      summary: Update Config Store Secret
      description: Updates a secret for a Config Store.
      operationId: update-config-store-secret
      responses:
        '200':
          $ref: '#/components/responses/ConfigStoreSecretResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ConfigStoreSecretUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ConfigStoreSecretNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      requestBody:
        $ref: '#/components/requestBodies/UpdateConfigStoreSecretRequest'
      tags:
        - Config Store Secrets
    delete:
      summary: Delete Config Store Secret
      description: Removes a secret from a Config Store.
      operationId: delete-config-store-secret
      responses:
        '204':
          description: Secret for the Config Store was deleted successfully.
        '401':
          $ref: '#/components/responses/ConfigStoreSecretUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ConfigStoreSecretNotFound'
      tags:
        - Config Store Secrets
  /v2/control-planes/{controlPlaneId}/core-entities/acls:
    get:
      operationId: list-acl
      summary: List all ACLs
      description: List all ACLs
      parameters:
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing ACLs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ACL'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - ACLs
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/acls/{ACLId}:
    get:
      operationId: get-acl
      summary: Fetch an ACL
      description: Get an ACL using ID.
      responses:
        '200':
          description: Successfully fetched ACL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACL'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - ACLs
    parameters:
      - $ref: '#/components/parameters/ACLId'
      - $ref: '#/components/parameters/controlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/basic-auths:
    get:
      operationId: list-basic-auth
      summary: List all Basic-auth credentials
      description: List all Basic-auth credentials
      parameters:
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing Basic-auth credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BasicAuth'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Basic-auth credentials
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/basic-auths/{BasicAuthId}:
    get:
      operationId: get-basic-auth
      summary: Fetch a Basic-auth credential
      description: Get a Basic-auth credential using ID.
      responses:
        '200':
          description: Successfully fetched Basic-auth credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuth'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Basic-auth credentials
    parameters:
      - $ref: '#/components/parameters/BasicAuthId'
      - $ref: '#/components/parameters/controlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/ca_certificates:
    get:
      operationId: list-ca_certificate
      summary: List all CA Certificates
      description: List all CA Certificates
      parameters:
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing CA Certificates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CACertificate'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - CA Certificates
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      operationId: create-ca_certificate
      summary: Create a new CA Certificate
      description: Create a new CA Certificate
      requestBody:
        description: Description of the new CA Certificate for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CACertificate'
      responses:
        '201':
          description: Successfully created CA Certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CACertificate'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - CA Certificates
  /v2/control-planes/{controlPlaneId}/core-entities/ca_certificates/{CACertificateId}:
    delete:
      operationId: delete-ca_certificate
      summary: Delete a CA Certificate
      description: Delete a CA Certificate
      parameters:
        - $ref: '#/components/parameters/CACertificateId'
      responses:
        '204':
          description: Successfully deleted CA Certificate or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - CA Certificates
    get:
      operationId: get-ca_certificate
      summary: Fetch a CA Certificate
      description: Get a CA Certificate using ID.
      responses:
        '200':
          description: Successfully fetched CA Certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CACertificate'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - CA Certificates
    parameters:
      - $ref: '#/components/parameters/CACertificateId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      operationId: upsert-ca_certificate
      summary: Upsert a CA Certificate
      description: Create or Update CA Certificate using ID.
      requestBody:
        description: Description of the CA Certificate
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CACertificate'
      responses:
        '200':
          description: Successfully upserted CA Certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CACertificate'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - CA Certificates
  /v2/control-planes/{controlPlaneId}/core-entities/certificates:
    get:
      operationId: list-certificate
      summary: List all Certificates
      description: List all Certificates
      parameters:
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing Certificates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Certificate'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Certificates
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      operationId: create-certificate
      summary: Create a new Certificate
      description: Create a new Certificate
      requestBody:
        description: Description of the new Certificate for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
      responses:
        '201':
          description: Successfully created Certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Certificates
  /v2/control-planes/{controlPlaneId}/core-entities/certificates/{CertificateId}:
    delete:
      operationId: delete-certificate
      summary: Delete a Certificate
      description: Delete a Certificate
      parameters:
        - $ref: '#/components/parameters/CertificateId'
      responses:
        '204':
          description: Successfully deleted Certificate or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Certificates
    get:
      operationId: get-certificate
      summary: Fetch a Certificate
      description: Get a Certificate using ID.
      responses:
        '200':
          description: Successfully fetched Certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Certificates
    parameters:
      - $ref: '#/components/parameters/CertificateId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      operationId: upsert-certificate
      summary: Upsert a Certificate
      description: Create or Update Certificate using ID.
      requestBody:
        description: Description of the Certificate
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
      responses:
        '200':
          description: Successfully upserted Certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Certificates
  /v2/control-planes/{controlPlaneId}/core-entities/certificates/{CertificateId}/snis:
    get:
      operationId: list-sni-with-certificate
      summary: List all SNIs associated with a Certificate
      description: List all SNIs associated with a Certificate
      parameters:
        - $ref: '#/components/parameters/CertificateId'
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing SNIs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SNI'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
      tags:
        - SNIs
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      operationId: create-sni-with-certificate
      summary: Create a new SNI associated with a Certificate
      description: Create a new SNI associated with a Certificate
      parameters:
        - $ref: '#/components/parameters/CertificateId'
      requestBody:
        description: Description of new SNI for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SNIWithoutParents'
      responses:
        '201':
          description: Successfully created SNI
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SNI'
      tags:
        - SNIs
  /v2/control-planes/{controlPlaneId}/core-entities/certificates/{CertificateId}/snis/{SNIId}:
    delete:
      operationId: delete-sni-with-certificate
      summary: Delete a an SNI associated with a Certificate
      description: Delete a an SNI associated with a Certificate using ID or name.
      parameters:
        - $ref: '#/components/parameters/CertificateId'
        - $ref: '#/components/parameters/SNIId'
      responses:
        '204':
          description: Successfully deleted SNI or the resource didn't exist
      tags:
        - SNIs
    get:
      operationId: get-sni-with-certificate
      summary: Fetch an SNI associated with a Certificate
      description: Get an SNI associated with a Certificate using ID or name.
      parameters:
        - $ref: '#/components/parameters/CertificateId'
        - $ref: '#/components/parameters/SNIId'
      responses:
        '200':
          description: Successfully fetched SNI
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SNI'
        '404':
          description: Resource does not exist
      tags:
        - SNIs
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      operationId: upsert-sni-with-certificate
      summary: Upsert an SNI associated with a Certificate
      description: Create or Update an SNI associated with a Certificate using ID or name.
      parameters:
        - $ref: '#/components/parameters/CertificateId'
        - $ref: '#/components/parameters/SNIId'
      requestBody:
        description: Description of the SNI
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SNIWithoutParents'
      responses:
        '200':
          description: Successfully upserted SNI
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SNI'
      tags:
        - SNIs
  /v2/control-planes/{controlPlaneId}/core-entities/consumer_groups:
    get:
      operationId: list-consumer_group
      summary: List all Consumer Groups
      description: List all Consumer Groups
      parameters:
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing Consumer Groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConsumerGroup'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumer Groups
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      operationId: create-consumer_group
      summary: Create a new Consumer Group
      description: Create a new Consumer Group
      requestBody:
        description: Description of the new Consumer Group for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerGroup'
      responses:
        '201':
          description: Successfully created Consumer Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroup'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumer Groups
  /v2/control-planes/{controlPlaneId}/core-entities/consumer_groups/{ConsumerGroupId}:
    delete:
      operationId: delete-consumer_group
      summary: Delete a Consumer Group
      description: Delete a Consumer Group
      parameters:
        - $ref: '#/components/parameters/ConsumerGroupId'
      responses:
        '204':
          description: Successfully deleted Consumer Group or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumer Groups
    get:
      operationId: get-consumer_group
      summary: Fetch a Consumer Group
      description: Get a Consumer Group using ID.
      responses:
        '200':
          description: Successfully fetched Consumer Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroupInsideWrapper'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Consumer Groups
    parameters:
      - $ref: '#/components/parameters/ConsumerGroupId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      operationId: upsert-consumer_group
      summary: Upsert a Consumer Group
      description: Create or Update Consumer Group using ID.
      requestBody:
        description: Description of the Consumer Group
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerGroup'
      responses:
        '200':
          description: Successfully upserted Consumer Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroup'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumer Groups
  /v2/control-planes/{controlPlaneId}/core-entities/consumer_groups/{ConsumerGroupId}/consumers:
    delete:
      operationId: remove-all-consumers-from-consumer-group
      summary: Remove consumers from consumer group
      description: >-
        Removes all consumers from a consumer groups. This operation does not
        delete the consumer group.
      responses:
        '204':
          description: Consumers removed from group
        '404':
          description: Consumer group or consumer association does not exist
      tags:
        - Consumer Groups
    get:
      operationId: list-consumers-for-consumer-group
      summary: List all Consumers in a Consumer Group
      description: List all consumers in a consumer group
      parameters:
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing of consumers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Consumer'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
      tags:
        - Consumer Groups
    parameters:
      - $ref: '#/components/parameters/ConsumerGroupIdManageConsumers'
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayConsumerGroupMember#create
      operationId: add-consumer-to-group
      summary: Add consumer to consumer group
      description: Add a consumer to a consumer group
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                consumer:
                  type: string
                  example: cf4c7e60-11db-49dd-b300-7c7e5f0f7e6b
                  x-speakeasy-name-override: consumer_id
      responses:
        '201':
          description: Consumer added to group
          content:
            application/json:
              schema:
                type: object
                properties:
                  consumer_group:
                    $ref: '#/components/schemas/ConsumerGroup'
                  consumers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Consumer'
      tags:
        - Consumer Groups
  /v2/control-planes/{controlPlaneId}/core-entities/consumer_groups/{ConsumerGroupId}/consumers/{ConsumerId}:
    delete:
      x-speakeasy-entity-operation: GatewayConsumerGroupMember#delete
      operationId: remove-consumer-from-group
      summary: Remove consumer from consumer group
      description: Remove a consumer from a consumer group
      responses:
        '204':
          description: Consumer removed from group
      tags:
        - Consumer Groups
    parameters:
      - $ref: '#/components/parameters/ConsumerGroupIdManageConsumers'
      - name: ConsumerId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/controlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumer_groups/{ConsumerGroupId}/plugins:
    get:
      operationId: list-plugin-with-consumer_group
      summary: List all Plugins associated with a Consumer Group
      description: List all Plugins associated with a Consumer Group
      parameters:
        - $ref: '#/components/parameters/ConsumerGroupId'
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing Plugins
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Plugin'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
      tags:
        - Plugins
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      operationId: create-plugin-with-consumer_group
      summary: Create a new Plugin associated with a Consumer Group
      description: Create a new Plugin associated with a Consumer Group
      parameters:
        - $ref: '#/components/parameters/ConsumerGroupId'
      requestBody:
        description: Description of new Plugin for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PluginWithoutParents'
      responses:
        '201':
          description: Successfully created Plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
      tags:
        - Plugins
  /v2/control-planes/{controlPlaneId}/core-entities/consumer_groups/{ConsumerGroupId}/plugins/{PluginId}:
    delete:
      operationId: delete-plugin-with-consumer_group
      summary: Delete a a Plugin associated with a Consumer Group
      description: Delete a a Plugin associated with a Consumer Group using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerGroupId'
        - $ref: '#/components/parameters/PluginId'
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
      tags:
        - Plugins
    get:
      operationId: get-plugin-with-consumer_group
      summary: Fetch a Plugin associated with a Consumer Group
      description: Get a Plugin associated with a Consumer Group using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerGroupId'
        - $ref: '#/components/parameters/PluginId'
      responses:
        '200':
          description: Successfully fetched Plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      operationId: upsert-plugin-with-consumer_group
      summary: Upsert a Plugin associated with a Consumer Group
      description: Create or Update a Plugin associated with a Consumer Group using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerGroupId'
        - $ref: '#/components/parameters/PluginId'
      requestBody:
        description: Description of the Plugin
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PluginWithoutParents'
      responses:
        '200':
          description: Successfully upserted Plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
      tags:
        - Plugins
  /v2/control-planes/{controlPlaneId}/core-entities/consumers:
    get:
      operationId: list-consumer
      summary: List all Consumers
      description: List all Consumers
      parameters:
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing Consumers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Consumer'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumers
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      operationId: create-consumer
      summary: Create a new Consumer
      description: Create a new Consumer
      requestBody:
        description: Description of the new Consumer for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Consumer'
      responses:
        '201':
          description: Successfully created Consumer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumers
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerId}:
    delete:
      operationId: delete-consumer
      summary: Delete a Consumer
      description: Delete a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerId'
      responses:
        '204':
          description: Successfully deleted Consumer or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumers
    get:
      operationId: get-consumer
      summary: Fetch a Consumer
      description: Get a Consumer using ID or username.
      responses:
        '200':
          description: Successfully fetched Consumer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Consumers
    parameters:
      - $ref: '#/components/parameters/ConsumerId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      operationId: upsert-consumer
      summary: Upsert a Consumer
      description: Create or Update Consumer using ID or username.
      requestBody:
        description: Description of the Consumer
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Consumer'
      responses:
        '200':
          description: Successfully upserted Consumer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumers
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerId}/consumer_groups:
    delete:
      operationId: remove-consumer-from-all-consumer-groups
      summary: Remove consumer from consumer group
      description: >-
        Removes a consumer from all consumer groups. This operation does not
        delete the consumer group.
      parameters:
        - $ref: '#/components/parameters/ConsumerId'
      responses:
        '204':
          description: Consumer removed from all groups
        '404':
          description: Consumer does not exist
      tags:
        - Consumer Groups
    get:
      operationId: list-consumer-groups-for-consumer
      summary: List all Consumer Groups a Consumer belongs to
      description: List all Consumer Groups a Consumer belongs to
      parameters:
        - $ref: '#/components/parameters/ConsumerId'
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing consumer groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConsumerGroup'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
      tags:
        - Consumer Groups
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      operationId: add-consumer-to-specific-consumer-group
      summary: Add consumer to a specific consumer group
      description: Add a consumer to a consumer group
      parameters:
        - $ref: '#/components/parameters/ConsumerId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                group:
                  type: string
                  example: fedee695-2ae2-4e45-877a-776d9b2fc793
                  x-speakeasy-name-override: group
      responses:
        '201':
          description: Consumer added to a specific group
          content:
            application/json:
              schema:
                type: object
                properties:
                  consumer:
                    $ref: '#/components/schemas/Consumer'
                  consumer_groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConsumerGroup'
      tags:
        - Consumer Groups
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerId}/consumer_groups/{ConsumerGroupId}:
    delete:
      operationId: remove-consumer-from-consumer-group
      summary: Remove consumer from consumer group
      description: >-
        Removes a consumer from a consumer group. This operation does not delete
        the consumer group.
      parameters:
        - $ref: '#/components/parameters/ConsumerId'
        - $ref: '#/components/parameters/ConsumerGroupId'
      responses:
        '204':
          description: Consumer removed from group
      tags:
        - Consumer Groups
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/acls:
    get:
      operationId: list-acl-with-consumer
      summary: List all ACLs associated with a Consumer
      description: List all ACLs associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing ACLs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ACL'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
      tags:
        - ACLs
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      operationId: create-acl-with-consumer
      summary: Create a new ACL associated with a Consumer
      description: Create a new ACL associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        description: Description of new ACL for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACLWithoutParents'
      responses:
        '201':
          description: Successfully created ACL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACL'
      tags:
        - ACLs
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/acls/{ACLId}:
    delete:
      operationId: delete-acl-with-consumer
      summary: Delete a an ACL associated with a Consumer
      description: Delete a an ACL associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/ACLId'
      responses:
        '204':
          description: Successfully deleted ACL or the resource didn't exist
      tags:
        - ACLs
    get:
      operationId: get-acl-with-consumer
      summary: Fetch an ACL associated with a Consumer
      description: Get an ACL associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/ACLId'
      responses:
        '200':
          description: Successfully fetched ACL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACL'
        '404':
          description: Resource does not exist
      tags:
        - ACLs
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      operationId: upsert-acl-with-consumer
      summary: Upsert an ACL associated with a Consumer
      description: Create or Update an ACL associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/ACLId'
      requestBody:
        description: Description of the ACL
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACLWithoutParents'
      responses:
        '200':
          description: Successfully upserted ACL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACL'
      tags:
        - ACLs
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/basic-auth:
    get:
      operationId: list-basic-auth-with-consumer
      summary: List all Basic-auth credentials associated with a Consumer
      description: List all Basic-auth credentials associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing Basic-auth credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BasicAuth'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
      tags:
        - Basic-auth credentials
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      operationId: create-basic-auth-with-consumer
      summary: Create a new Basic-auth credential associated with a Consumer
      description: Create a new Basic-auth credential associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        description: Description of new Basic-auth credential for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicAuthWithoutParents'
      responses:
        '201':
          description: Successfully created Basic-auth credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuth'
      tags:
        - Basic-auth credentials
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/basic-auth/{BasicAuthId}:
    delete:
      operationId: delete-basic-auth-with-consumer
      summary: Delete a a Basic-auth credential associated with a Consumer
      description: Delete a a Basic-auth credential associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/BasicAuthId'
      responses:
        '204':
          description: >-
            Successfully deleted Basic-auth credential or the resource didn't
            exist
      tags:
        - Basic-auth credentials
    get:
      operationId: get-basic-auth-with-consumer
      summary: Fetch a Basic-auth credential associated with a Consumer
      description: Get a Basic-auth credential associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/BasicAuthId'
      responses:
        '200':
          description: Successfully fetched Basic-auth credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuth'
        '404':
          description: Resource does not exist
      tags:
        - Basic-auth credentials
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      operationId: upsert-basic-auth-with-consumer
      summary: Upsert a Basic-auth credential associated with a Consumer
      description: >-
        Create or Update a Basic-auth credential associated with a Consumer
        using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/BasicAuthId'
      requestBody:
        description: Description of the Basic-auth credential
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicAuthWithoutParents'
      responses:
        '200':
          description: Successfully upserted Basic-auth credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuth'
      tags:
        - Basic-auth credentials
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/hmac-auth:
    get:
      operationId: list-hmac-auth-with-consumer
      summary: List all HMAC-auth credentials associated with a Consumer
      description: List all HMAC-auth credentials associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing HMAC-auth credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/HMACAuth'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
      tags:
        - HMAC-auth credentials
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      operationId: create-hmac-auth-with-consumer
      summary: Create a new HMAC-auth credential associated with a Consumer
      description: Create a new HMAC-auth credential associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        description: Description of new HMAC-auth credential for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HMACAuthWithoutParents'
      responses:
        '201':
          description: Successfully created HMAC-auth credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HMACAuth'
      tags:
        - HMAC-auth credentials
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/hmac-auth/{HMACAuthId}:
    delete:
      operationId: delete-hmac-auth-with-consumer
      summary: Delete a a HMAC-auth credential associated with a Consumer
      description: Delete a a HMAC-auth credential associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/HMACAuthId'
      responses:
        '204':
          description: >-
            Successfully deleted HMAC-auth credential or the resource didn't
            exist
      tags:
        - HMAC-auth credentials
    get:
      operationId: get-hmac-auth-with-consumer
      summary: Fetch a HMAC-auth credential associated with a Consumer
      description: Get a HMAC-auth credential associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/HMACAuthId'
      responses:
        '200':
          description: Successfully fetched HMAC-auth credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HMACAuth'
        '404':
          description: Resource does not exist
      tags:
        - HMAC-auth credentials
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      operationId: upsert-hmac-auth-with-consumer
      summary: Upsert a HMAC-auth credential associated with a Consumer
      description: >-
        Create or Update a HMAC-auth credential associated with a Consumer using
        ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/HMACAuthId'
      requestBody:
        description: Description of the HMAC-auth credential
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HMACAuthWithoutParents'
      responses:
        '200':
          description: Successfully upserted HMAC-auth credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HMACAuth'
      tags:
        - HMAC-auth credentials
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/jwt:
    get:
      operationId: list-jwt-with-consumer
      summary: List all JWTs associated with a Consumer
      description: List all JWTs associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing JWTs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JWT'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
      tags:
        - JWTs
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      operationId: create-jwt-with-consumer
      summary: Create a new JWT associated with a Consumer
      description: Create a new JWT associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        description: Description of new JWT for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JWTWithoutParents'
      responses:
        '201':
          description: Successfully created JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWT'
      tags:
        - JWTs
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/jwt/{JWTId}:
    delete:
      operationId: delete-jwt-with-consumer
      summary: Delete a a JWT associated with a Consumer
      description: Delete a a JWT associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/JWTId'
      responses:
        '204':
          description: Successfully deleted JWT or the resource didn't exist
      tags:
        - JWTs
    get:
      operationId: get-jwt-with-consumer
      summary: Fetch a JWT associated with a Consumer
      description: Get a JWT associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/JWTId'
      responses:
        '200':
          description: Successfully fetched JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWT'
        '404':
          description: Resource does not exist
      tags:
        - JWTs
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      operationId: upsert-jwt-with-consumer
      summary: Upsert a JWT associated with a Consumer
      description: Create or Update a JWT associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/JWTId'
      requestBody:
        description: Description of the JWT
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JWTWithoutParents'
      responses:
        '200':
          description: Successfully upserted JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWT'
      tags:
        - JWTs
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/key-auth:
    get:
      operationId: list-key-auth-with-consumer
      summary: List all API-keys associated with a Consumer
      description: List all API-keys associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing API-keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KeyAuth'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
      tags:
        - API-keys
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      operationId: create-key-auth-with-consumer
      summary: Create a new API-key associated with a Consumer
      description: Create a new API-key associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        description: Description of new API-key for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyAuthWithoutParents'
      responses:
        '201':
          description: Successfully created API-key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyAuth'
      tags:
        - API-keys
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/key-auth/{KeyAuthId}:
    delete:
      operationId: delete-key-auth-with-consumer
      summary: Delete a an API-key associated with a Consumer
      description: Delete a an API-key associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/KeyAuthId'
      responses:
        '204':
          description: Successfully deleted API-key or the resource didn't exist
      tags:
        - API-keys
    get:
      operationId: get-key-auth-with-consumer
      summary: Fetch an API-key associated with a Consumer
      description: Get an API-key associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/KeyAuthId'
      responses:
        '200':
          description: Successfully fetched API-key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyAuth'
        '404':
          description: Resource does not exist
      tags:
        - API-keys
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      operationId: upsert-key-auth-with-consumer
      summary: Upsert an API-key associated with a Consumer
      description: Create or Update an API-key associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/KeyAuthId'
      requestBody:
        description: Description of the API-key
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyAuthWithoutParents'
      responses:
        '200':
          description: Successfully upserted API-key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyAuth'
      tags:
        - API-keys
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/mtls-auth:
    get:
      operationId: list-mtls-auth-with-consumer
      summary: List all MTLS-auth credentials associated with a Consumer
      description: List all MTLS-auth credentials associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/PaginationSize'
        - $ref: '#/components/parameters/PaginationOffset'
[...]
