name: Generate SDK

on:
  pull_request:
    paths:
      - .speakeasy/gen.yaml
    types:
    - opened
    - synchronize

permissions:
  contents: read

jobs:
  should-generate:
    runs-on:
      - ubuntu-latest
    outputs:
      result: ${{ steps.decision.outputs.result }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.PAT }}

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        with:
          since_last_remote_commit: "true"
      
      - id: decision
        run: |
          echo "result=${{ contains(steps.changed-files.outputs.modified_files, '.speakeasy/gen.yaml') }}" >> "$GITHUB_OUTPUT"

  generate:
    needs:
    - should-generate
    permissions:
      contents: write
    runs-on:
      - ubuntu-latest
    if: needs.should-generate.outputs.result == 'true'
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Install Speakeasy
        uses: mheap/setup-go-cli@fa9b01cdd4115eac636164f0de43bf7d51c82697 # v1.2.2
        with:
          owner: speakeasy-api
          repo: speakeasy
          cli_name: speakeasy
          package_type: zip
          version: 1.658.2 # renovate: datasource=github-releases depName=speakeasy-api/speakeasy

      - name: Checkout current repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.PAT }}

      - name: Configure speakeasy CLI
        run: |
          mkdir -p ~/.speakeasy
          echo 'speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}' > ~/.speakeasy/config.yaml

      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          install: false

      - name: Generate SDK
        run: |
          export PATH=${PATH}:$(go env GOPATH)/bin
          make generate.sdk

      - name: Git add generated changes
        run: git add .

      - name: Generate interfaces and mocks
        run: |
          make generate.interfaces generate.mocks

      - name: Commit deepcopy changes to the PR
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          add: .
          default_author: github_actions
          message: Update provider based on openapi.yaml changes
