name: Ensure generated interfaces and mocks are up to date
run-name: generate interfaces and mocks, branch:${{ github.ref_name }}, triggered by @${{ github.actor }}

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  pull_request:
    types:
    - opened
    - synchronize

permissions:
  contents: read

env:
  MISE_VERBOSE: 1

jobs:
  verify-diff:
    runs-on:
      - ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout current repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0
        with:
          install: false

      - name: Generate interfaces
        run: make generate.interfaces

      - name: Generate mocks
        run: make generate.mocks

      - name: Verify no diff
        run: make verify.diff

