name: Konnect cleanup
run-name: Konnect cleanup, branch:${{ github.ref_name }}, triggered by @${{ github.actor }}

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  schedule:
    - cron: '47 */4 * * *'
  workflow_dispatch: {}

permissions:
  contents: read

env:
  MISE_VERBOSE: 1

jobs:
  cleanup:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # NOTE: this matrix should match the test matrix which is used for
        # integration tests.
        include:
        - konnect-api-url: https://us.api.konghq.tech
        - konnect-api-url: https://eu.api.konghq.tech
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5
      with:
        go-version-file: go.mod

    - name: run Konnect cleanup ( remove test left overs )
      run: make cleanup.konnect
      env:
        KONNECT_API_URL: ${{ matrix.konnect-api-url }}
        KONNECT_API_PAT: ${{ secrets.KONNECT_API_PAT }}
        KONG_CUSTOM_DOMAIN: konghq.tech
