name: Publish

on:
  push:
    paths:
      - ".speakeasy/gen.lock"
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    # Releases need permissions to read and write the repository contents.
    # GitHub considers creating releases and uploading assets as writing contents.
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # Allow goreleaser to access older tag information.
          fetch-depth: 0
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5
        with:
          go-version-file: "go.mod"
      - name: Read current version + create tag
        run: |
          TAG=$(yq '.management.releaseVersion' .speakeasy/gen.lock)

          git config --global user.email "apiops@konghq.com"
          git config --global user.name "kong-apiops[bot]"

          git tag -a v$TAG -m "Release v$TAG"
          git push origin v$TAG
      - name: Mark as pre-release if applicable
        run: |
          TAG=$(yq '.management.releaseVersion' .speakeasy/gen.lock)
          echo "Released version: v$TAG"

          if [[ "$TAG" =~ -rc\.|^alpha\.|^beta\. ]]; then
            echo "This is a pre-release version"
            echo "IS_PRERELEASE=true" >> $GITHUB_ENV
          else
            echo "This is a stable release"
            echo "IS_PRERELEASE=false" >> $GITHUB_ENV
          fi

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          args: release --clean
          version: ~> v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
